<form [formGroup]="form" style="height: 100%;">
  <div class="scan-data-connect-form-control scan-data-form-control">
    <label for="serverHostname">Server hostname</label>
    <input id="serverHostname" type="text" formControlName="serverHostname" trim="blur">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control">
    <label for="port">Port</label>
    <input id="port" type="number" formControlName="port">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control">
    <label for="protocol">Protocol</label>
    <input id="protocol" type="text" formControlName="protocol" trim="blur">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control">
    <label for="path">HTTP path</label>
    <input id="httpPath" type="text" formControlName="httpPath">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control">
    <label for="token">Access Token</label>
    <input id="token" type="password" formControlName="token">
  </div>

</form>
