<mat-toolbar color="primary"
             class="app-toolbar">
  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="cdm menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <div class="logo" (click)="goToComfy()" [ngClass]="{pointer: isNotComfyPage}">
    <mat-icon class="logo" svgIcon="logo_white"></mat-icon>
  </div>

  <app-breadcrumb></app-breadcrumb>

  <span class="divider"></span>

  <label class="info-label">{{reportName}} - {{cdmVersion}}</label>

  <button mat-icon-button
          (click)="startOnBoarding($event.currentTarget)">
    <mat-icon svgIcon="help"></mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="createMapping">
      <mat-icon svgIcon="new_mapping"></mat-icon>
      <span>New Mapping</span>
    </button>
    <input #sourceUpload
           type="file"
           accept=".xlsx, .xls"
           (change)="onFileUpload($event)"
           hidden />
    <input #mappingUpload
           type="file"
           accept=".etl"
           (change)="onMappingUpload($event)"
           hidden />
    <button mat-menu-item
            (click)="openLoadMappingDialog()">
      <mat-icon svgIcon="mapping"></mat-icon>
      <span>Open Mapping</span>
    </button>
    <button mat-menu-item
            (click)="openSaveMappingDialog()">
      <mat-icon svgIcon="save"></mat-icon>
      <span>Save Mapping</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="convertData">
      <mat-icon svgIcon="convert_data"></mat-icon>
      <span>Convert Data</span>
    </button>
    <button mat-menu-item
            (click)="showVocabulary()">
      <mat-icon svgIcon="vocabulary"></mat-icon>
      <span>Vocabulary</span>
    </button>
    <button mat-menu-item
            (click)="resetAllMappings()">
      <mat-icon svgIcon="reset"></mat-icon>
      <span>Delete All Mappings</span>
    </button>
    <button mat-menu-item
            (click)="logout()">
      <mat-icon svgIcon="logout"></mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <mat-menu #createMapping="matMenu">
    <button mat-menu-item
            [disabled]="IsCreateNewMappingDisabled()"
            (click)="resetSourceAndTarget()">
      <mat-icon [ngClass]="{'new-mapping': IsCreateNewMappingDisabled()}"
                svgIcon="new_mapping"></mat-icon>
      <span>Create New Mapping</span>
    </button>
    <button mat-menu-item
            (click)="scanData()">
      <mat-icon svgIcon="scan_data"></mat-icon>
      <span>Scan Data</span>
    </button>
    <button mat-menu-item
            (click)="onOpenSourceClick()">
      <mat-icon svgIcon="folder"></mat-icon>
      <span>Load New Report</span>
    </button>
    <button mat-menu-item
            (click)="openSetCDMDialog()">
      <mat-icon svgIcon="CDM_version"></mat-icon>
      <span>Set CDM Version</span>
    </button>
  </mat-menu>

  <mat-menu #convertData="matMenu">
    <button mat-menu-item
            [disabled]="convertToCdmDisabled$ | async"
            (click)="convertToCdm()">
      <mat-icon svgIcon="convert_data"></mat-icon>
      <span>Convert to CDM</span>
    </button>
    <button mat-menu-item
            (click)="generateAndSave()">
      <mat-icon svgIcon="generate_and_save"></mat-icon>
      <span>Generate & Save Files</span>
    </button>
    <button mat-menu-item
            [disabled]="fakeDataDisabled$ | async"
            (click)="generateFakeData()">
      <mat-icon svgIcon="generate_fake"></mat-icon>
      <span>Generate Fake Data</span>
    </button>
    <button mat-menu-item
            (click)="dataQualityCheck()">
      <mat-icon svgIcon="quality_check"></mat-icon>
      <span>Data Quality Check</span>
    </button>
    <button mat-menu-item
            [disabled]="reportGenerationDisabled$ | async"
            (click)="generateReport()">
      <mat-icon svgIcon="generate_report"></mat-icon>
      <span>Report</span>
    </button>
  </mat-menu>

</mat-toolbar>
