@import "variables";

:host {
  width: 100%;
  height: 40px;
  background-color: $cdm-grey-dark;
  display: flex;
  justify-content: center;

  &.comfy {
    .toolbar {
      max-width: 1440px;
      width: 1440px;
    }
  }
}

.toolbar {
  height: 100%;
  padding-left: 74px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  width: 100%;

  * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__three-dot-menu-button {
    width: 10px;
    height: 18px;
    cursor: pointer;
    margin-right: 16px;
  }

  &__logo {
    height: 13px;
    width: 94px;
    margin-bottom: 3px;

    &.pointer {
      cursor: pointer;
    }
  }

  &__info-label {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-right: 39px;
  }

  &__help-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__user-profile {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    color: $blue;
  }

  &__user-profile-menu {
    width: 148px;
  }
}

.new-mapping {
  opacity: 0.6;
}
