<mat-card *ngIf="vocabularies">
  <mat-card-content>
    <div class="vocabularies-header">
      <span class="configuration-element">Configuration:</span>
      <app-vocabulary-dropdown
        class="configuration-element"
        [vocabulary]="configurations"
        [ismultipe]="'false'"
        [showDefaultOption]="'true'"
        (value)="onLookupSelected($event)"
      >
      </app-vocabulary-dropdown>
      <div></div>
      <span class="source-filed-label">Source fileds:</span>
      <app-vocabulary-dropdown
        class="source-filed-lookup"
        class="configuration-element"
        [vocabulary]="selectedSourceFilelds"
        [ismultipe]="'true'"
        [showDefaultOption]="'true'"
        (value)="onSourceFieldSelected($event)"
      >
      </app-vocabulary-dropdown>
      <div></div>
      <span class="source-filed-label">Condition:</span>
      <app-vocabulary-dropdown #conditionDropDown
        class="source-filed-lookup"
        class="configuration-element"
        [ismultipe]="'false'"
        [vocabulary]="conditions"
        [showDefaultOption]="'true'"
        (value)="onConditionSelected($event, conditionDropDown)"
      >
      </app-vocabulary-dropdown>
      <button class="add-configuration" mat-button (click)="openConditionsDialog(conditionDropDown)">Add</button>
    </div>
    <app-vocabulary-config
      [vocabularyConfig]="vocabularyConfig"
    ></app-vocabulary-config>
  </mat-card-content>
  <mat-dialog-actions>
    <mat-form-field
      appearance="outline"
      class="lookup-name"
      [floatLabel]="'never'"
    >
      <mat-icon matPrefix>edit</mat-icon>
      <mat-label>enter configuration name</mat-label>
      <input
        #configname
        matInput
        [formControl]="lookupnameControl"
        [required]="'true'"
      />
    </mat-form-field>
    <button mat-button (click)="save.execute()" [disabled]="!save.canExecute()">
      Save
    </button>
    <button
      mat-button
      (click)="delete.execute()"
      [disabled]="!delete.canExecute()"
    >
      Delete
    </button>
    <button
      mat-button
      (click)="close.execute()"
      [disabled]="!close.canExecute()"
    >
      Close
    </button>
  </mat-dialog-actions>
</mat-card>
