<div class="apply-transformation">
  <h3>Apply Transfomation <span>{{ titleInfo }}</span></h3>
  <mat-icon class="close"
          mat-dialog-close>close
  </mat-icon>

  <mat-tab-group selectedIndex="{{activeTab}}" (selectedIndexChange)="onTabIndexChanged($event)">
    <mat-tab
      [label]="tab"
      *ngFor="let tab of tabs; trackBy: trackByFn"
    >
      <app-sql-transformation #sqlTransformationTab
                              [savedSqlTransformation] = "connector.source.sqlTransformation"
                              *ngIf="tab === 'SQL Function'"></app-sql-transformation>
      <app-lookup *ngIf="tab === 'Lookup'" [lookup]="lookup" [name]="lookupName"></app-lookup>
    </mat-tab>
  </mat-tab-group>

  <div class="buttons">
    <button
      mat-button
      (click)="dialogRef.close()"
      class="button-cancel">Cancel
    </button>
    <button
      [disabled]="!lookup['value'] && activeTab !== 0"
      mat-button
      mat-flat-button
      color="accent"
      (click)="add()"
      class="button-add">Apply
    </button>
  </div>
</div>

<!-- <div class="mapping-component-progress" *ngIf="!vocabularies">
  <span>Loading...</span>
</div>
<mat-card *ngIf="vocabularies">
  <mat-card-header>
    <h3>Apply lookup transformation</h3>
  </mat-card-header>
  <mat-card-subtitle>
   <span class="configuration-header">
    to: {{ selectedSourceFieldsForHeader }}</span
    >
  </mat-card-subtitle>
  <mat-card-content>
    <div class="vocabularies-header">
      <span class="configuration-element">Configuration:</span>
      <app-vocabulary-dropdown
        class="configuration-element"
        [vocabulary]="configurations"
        [selected]="selectedConfiguration"
        [ismultipe]="false"
        [showDefaultOption]="'true'"
        (value)="onConfigurationSelected($event)"
      >
      </app-vocabulary-dropdown>
      <div></div>
      <span class="source-filed-label">Source fileds:</span>
      <app-vocabulary-dropdown
        class="source-filed-lookup"
        class="configuration-element"
        [selected]="selectedSourceFieldsDictionary"
        [vocabulary]="sourceFiledsDictionary"
        [showDefaultOption]="'true'"
        (value)="onSourceFieldSelected($event)"
      >
      </app-vocabulary-dropdown>
      <div></div>
      <span class="source-filed-label">Condition:</span>
      <app-vocabulary-dropdown
        #conditionDropDown
        class="source-filed-lookup"
        class="configuration-element"
        [ismultipe]="false"
        [vocabulary]="conditions"
        [selected]="selectedCondition"
        [showDefaultOption]="'true'"
        (value)="onConditionSelected($event)"
      >
      </app-vocabulary-dropdown>
      <button
        class="add-configuration"
        mat-button
        (click)="openConditionsDialog(conditionDropDown)"
      >
        Add
      </button>
    </div>
    <app-vocabulary-config
      [transformationCondition]="transformationCondition"
      [selectedSourceFields]="selectedSourceFields"
      (configOut)="updateTransformationCondition($event)"
    ></app-vocabulary-config>
  </mat-card-content>
  <mat-dialog-actions>
    <mat-form-field
      appearance="outline"
      class="lookup-name"
      [floatLabel]="'never'"
    >
      <mat-icon matPrefix>edit</mat-icon>
      <mat-label>enter configuration name</mat-label>
      <input
        #configname
        matInput
        [formControl]="configurationNameControl"
        [required]="'true'"
      />
    </mat-form-field>

    <button
      mat-button
      (click)="create.execute()"
      [disabled]="!create.canExecute()"
    >
      Create New
    </button>
    <button
      mat-button
      (click)="apply.execute()"
      [disabled]="!apply.canExecute()"
    >
      Apply
    </button>
    <button
      mat-button
      (click)="delete.execute()"
      [disabled]="!delete.canExecute()"
    >
      Delete
    </button>
    <button
      mat-button
      (click)="close.execute()"
      [disabled]="!close.canExecute()"
    >
      Close
    </button>
  </mat-dialog-actions>
</mat-card> -->
