<mat-card *ngIf="vocabularies">
  <mat-card-content>
    <mat-form-field class="lookup-name" [floatLabel]="'never'">
      <mat-icon matPrefix>edit</mat-icon>
      <mat-label>enter configuration name</mat-label>
      <input #configname matInput [(ngModel)]="lookupname" />
    </mat-form-field>
    <app-vocabulary-dropdown
      [vocabulary]="lookups.payload"
      [ismultipe]="'false'"
      (value)="onLookupSelected($event)"
    >
    </app-vocabulary-dropdown>

    <mat-tab-group>
      <mat-tab label="Concept">
        <app-concept-config
          [conceptConfig]="conceptConfig"
        ></app-concept-config>
      </mat-tab>
      <mat-tab label="Source Concept">
        <app-concept-config
          [conceptConfig]="sourceConceptConfig"
        ></app-concept-config>
      </mat-tab>
      <mat-tab label="Type"> Type (under construction) </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-dialog-actions>
    <button mat-button (click)="save.execute()" [disabled]="!save.canExecute()">
      Save
    </button>
    <button
      mat-button
      (click)="delete.execute()"
      [disabled]="!delete.canExecute()"
    >
      Delete
    </button>
    <button
      mat-button
      (click)="close.execute()"
      [disabled]="!close.canExecute()"
    >
      Close
    </button>
  </mat-dialog-actions>
</mat-card>
