<mat-card>
  <mat-card-content>
      <app-vocabulary-configuration name="Source Vocabulary"></app-vocabulary-configuration>
      <app-vocabulary-configuration name="Target Vocabulary"></app-vocabulary-configuration>
      <app-vocabulary-configuration name="Source Concept Class"></app-vocabulary-configuration>
      <app-vocabulary-configuration name="Target Concept Class"></app-vocabulary-configuration>
      <app-vocabulary-configuration name="Target Domain"></app-vocabulary-configuration>
  </mat-card-content>
  <mat-dialog-actions>
    <button mat-button>Save</button>
    <button mat-button>Delete</button>
    <button mat-button>Close</button>
  </mat-dialog-actions>
</mat-card>


