.lookup-name {
  padding-right: 10px;
  padding-left: 10px;
}

.configuration-element {
  margin-right: 7px;
}

.vocabularies-header{
  display: grid;
  grid-template-columns: 100px 175px;
  align-items: center;
}

.tab{
  height: 275px;
}
