<mat-card *ngIf="vocabularies">
  <mat-card-content>
    <div class="vocabularies-header">
      <span class="configuration-element">Configuration:</span>
      <app-vocabulary-dropdown
        class="configuration-element"
        [vocabulary]="availableLookups"
        [ismultipe]="'false'"
        [showDefaultOption]="'true'"
        (value)="onLookupSelected($event)"
      >
      </app-vocabulary-dropdown>
      <span class="source-filed-label">Source fileds:</span>
      <app-vocabulary-dropdown
        class="source-filed-lookup"
        class="configuration-element"
        [vocabulary]="sourcefields"
        [ismultipe]="'true'"
        [showDefaultOption]="'true'"
        (value)="onSourceFieldSelected($event)"
      >
      </app-vocabulary-dropdown>
    </div>
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="Concept">
        <app-concept-config
          [conceptConfig]="vocabularyConfig.conceptConfig"
          (outConfig)="outConfigHandler($event)"
        ></app-concept-config>
      </mat-tab>
      <mat-tab label="Source Concept">
        <app-concept-config
          [conceptConfig]="vocabularyConfig.sourceConceptConfig"
          (outConfig)="outConfigHandler($event)"
        ></app-concept-config>
      </mat-tab>
      <mat-tab label="Type"> Type (under construction) </mat-tab>
    </mat-tab-group>
    <app-vocabulary-condition></app-vocabulary-condition>
  </mat-card-content>
  <mat-dialog-actions>
    <mat-form-field
      appearance="outline"
      class="lookup-name"
      [floatLabel]="'never'"
    >
      <mat-icon matPrefix>edit</mat-icon>
      <mat-label>enter configuration name</mat-label>
      <input
        #configname
        matInput
        [formControl]="lookupnameControl"
        [required]="'true'"
      />
    </mat-form-field>
    <button mat-button (click)="save.execute()" [disabled]="!save.canExecute()">
      Save
    </button>
    <button
      mat-button
      (click)="delete.execute()"
      [disabled]="!delete.canExecute()"
    >
      Delete
    </button>
    <button
      mat-button
      (click)="close.execute()"
      [disabled]="!close.canExecute()"
    >
      Close
    </button>
  </mat-dialog-actions>
</mat-card>
