<div class="apply-transformation">
  <app-close-dialog-button class="apply-transformation__close" (click)="dialogRef.close()"></app-close-dialog-button>

  <div class="apply-transformation__header">
    Apply Transformation <span>{{ titleInfo }}</span>
  </div>

  <div class="apply-transformation__content">
    <mat-tab-group (selectedIndexChange)="onTabIndexChanged($event)" [selectedIndex]="tabIndex">
      <mat-tab label="SQL FUNCTION">
        <app-sql-transformation #sqlTransformationComponent
                                [sql]="sql"
                                [fieldType]="sourceType"
                                [sourceFields]="sourceFields"></app-sql-transformation>
      </mat-tab>

      <mat-tab label="LOOKUP" [disabled]="lookupDisabled">
        <app-lookup #lookupComponent
                    [lookupType]="lookupType"
                    [lookup]="lookup"
                    notConceptTableField="true"></app-lookup>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="apply-transformation__footer">
    <button (click)="cancel()" class="cancel">Cancel</button>
    <button (click)="onApply()" [disabled]="applyDisabled" class="apply">Apply</button>
  </div>
</div>
