@import "variables";
@import "mixins";

:host {
  width: 100%;
  height: calc(100% - 40px); // 40px - header height
}

.mapping-codes {
  padding: 23px 70px 23px 81px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;

    h3 {
      @include perseus-header();
    }
  }

  &__content {
    height: calc(100% - 129px); // 40 - Main header, 39 - page header, 60 - page footer; (sum = 129)
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    height: 74px;
    padding-top: 18px;

    button {
      @include cdm-button();
      width: 80px;
      height: 33px;

      &.cancel {
        margin-right: 15px;
      }
    }
  }
}
