<form class="scan-params" [formGroup]="scanParamsForm">
  <div class="scan-params__check">
    <div class="scan-params__check-control">
      <app-scan-data-checkbox formControlName="scanValues"></app-scan-data-checkbox>
      <p>Scan Field Values</p>
    </div>

    <div class="scan-params__check-control">
      <app-scan-data-checkbox formControlName="calculateNumericStats"></app-scan-data-checkbox>
      <p>Numeric Stats</p>
    </div>
  </div>

  <div class="scan-params__input">
    <div class="scan-params__input-control">
      <label>Min Cell Count</label>
      <input type="number" min="1" formControlName="minCellCount">
    </div>

    <mat-form-field class="scan-params__input-control" floatLabel="never" appearance="none">
      <label>Max Distinct Values</label>
      <mat-select formControlName="maxValues">
        <mat-option *ngFor="let option of maxDistinctValues" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="scan-params__input-control" floatLabel="never" appearance="none">
      <label>Rows per Table</label>
      <mat-select formControlName="sampleSize">
        <mat-option *ngFor="let option of rowsPerTableValues" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="scan-params__input">
    <mat-form-field class="scan-params__input-control long" floatLabel="never" appearance="none">
      <label>Numeric Stats Reservoir Size</label>
      <mat-select formControlName="numericStatsSamplerSize" [disabled]="!scanParamsForm.get('calculateNumericStats').value">
        <mat-option *ngFor="let option of numericStatsReservoirSize" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

