@import "variables";
@import "mixins";

.set-delimiter {
  width: 253px;
  height: 222px;
  background: $cdm-grey-lighter;
  border-radius: 2px;
  padding: 42px 35px 35px 38px;
  position: relative;

  &__header {
    @include popup-header();
    margin-bottom: 18px;
  }

  &__close-icon {
    position: absolute;
    top: 21px;
    right: 20px;
  }

  &__form {
    &__control {
      @include form-control();

      label {
        @include cdm-label();
      }

      input {
        @include cdm-input();
      }
    }

    &__submit {
      display: flex;
      justify-content: center;

      button {
        @include cdm-button();
        @include perseus-blue-button();
        width: 120px;
        height: 33px;
        margin-top: 30px;
      }
    }
  }
}
