<div class="scan-dialog">
  <div class="scan-dialog__header">
    <h4 class="scan-dialog__title">
      <span>{{header}}</span>
      <app-warning-hint *ngIf="showMySqlWarning" key="mySqlCdmLimit"></app-warning-hint>
      <mat-icon class="settings-icon" svgIcon="settings"></mat-icon>
    </h4>
    <app-close-dialog-button class="scan-dialog__header-close" (click)="onClose()"></app-close-dialog-button>
  </div>

  <div class="scan-dialog__content" [ngSwitch]="index">
    <app-cdm-form *ngSwitchCase="0" style="width: 100%"
                  (convert)="onConvert($event)"
                  (cancel)="onClose()"
                  (generateFakeData)="onGenerateFakeData($event)"></app-cdm-form>

    <app-cdm-console-wrapper *ngSwitchCase="1" style="width: 100%"
                             [conversion]="conversion"
                             (dataQualityCheck)="onDataQualityCheck()"
                             (back)="onCancel()"
                             (close)="onClose()"></app-cdm-console-wrapper>

    <app-fake-data-console-wrapper *ngSwitchCase="2" style="width: 100%"
                                   [conversion]="conversion"
                                   (back)="onCancel()"
                                   (close)="onClose()"></app-fake-data-console-wrapper>

    <app-dqd-console-wrapper *ngSwitchCase="3" style="width: 100%"
                             [conversion]="conversion"
                             [project]="project"
                             (back)="onDqdBack()"
                             (close)="onClose()"></app-dqd-console-wrapper>
  </div>
</div>
