@import 'src/app/styles/variables.scss';


// :host {
//     width: 100%;
// }

.caption {
    display: flex;
    align-items: center;

    mat-icon {
        font-size: 14px;
        width: 10px;
        color: $blue;
    }

    p {
        text-transform: capitalize;
        color: $blue;
        font-size: 14px;
    }
}

.scrollable {
    overflow-y: scroll;
    height: 70vh;
}

.scrollbarLeft {
    direction: rtl;

    /deep/.mat-expansion-panel {
        direction: ltr;
        margin-left: 5px;
    }
}

.scrollbarRight {

    /deep/.mat-expansion-panel {
        margin-right: 5px;
    }
}

.scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 100px;
	background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar
{
	width: 5px;
}

.scrollable::-webkit-scrollbar-thumb
{
    width: 5px;
	border-radius: 100px;
	-webkit-box-shadow: #E5E5E5;
	background-color: #B3B3B3;
}
