<section>
    <main class="main">
        <app-area area="source">
            <app-panel *ngFor="let table of (tables$ | async)" [title]="table.name">
                <!-- <app-panel-table 
                    area="source" 
                    [table]="table"
                    [tableName]="table.name"
                    [columns]="table.rows"
                    [displayedColumns]="['column_indicator', 'column_name', 'column_type', 'values', 'comments']">
                </app-panel-table> -->
            </app-panel>
        </app-area>

        <svg class="canvas" [attr.width]="document.body.clientWidth"></svg>

        <!-- <app-area area="target">
            <app-panel *ngFor="let table of (data$ | async).target.tables" [title]="table.name">
                <app-panel-table 
                    area="target" 
                    [table]="table"
                    [tableName]="table.name"
                    [columns]="table.rows"
                    [displayedColumns]="['column_indicator', 'column_name', 'column_type', 'comments']">
                </app-panel-table>
            </app-panel>
        </app-area> -->
    </main>
    <footer>
        <div>
            <mat-checkbox>Link similar items from other source tables</mat-checkbox>
        </div>
        <div>
            <button>Generate ETL</button>
            <button>Generate XML</button>
        </div>
    </footer>
</section>