@import 'src/app/styles/variables.scss';

.area-source {
  position: relative;
  width: 35%;
  float: left;
  height: 100%;
}

.area-target {
  position: relative;
  width: 35%;
  float: right;
  height: 100%;
}

section {
  height: 100%;

  main {
    width: 100%;
    height: calc(100% - 81px);
    position: relative;
    float: left;
  }

  .hint {
    position: absolute;
    left: 35%;
    color: $cdm-grey-dark;
    display: flex;
    text-align: center;
    justify-content: center;
    width: calc(30% + 10px);
    height: 100%;
    z-index: 2;

    p {
      top: 20%;
      position: absolute;
      font-size: 14px;
    }

    .patch-top {
      @extend .patch;
      top: -94%;
    }

    .patch-bottom {
      @extend .patch;
      bottom: -100%;
    }
  }
}

.canvas {
  height: 100%;
  width: 100%;
}

footer {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 30px;

    button {
      float: right;
      margin-left: 30px;
    }

    button:first-child {
      margin-right: 8px;
    }
}

.mapping-page-button {
  cursor: pointer;
  font-weight: bold;
}

.delete-links {
  color: red;
  background: #E8E8E8;
}

.patch {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.mapping-component-progress {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.export-actions {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.app-mapping {
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

.filter-by-name {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.area-source {
  ::ng-deep .search-by-name {
    margin: 0 2px 0 8px;
  }
}

.area-target {
  ::ng-deep .search-by-name {
    margin: 0 8px 0 2px;
  }
}

::ng-deep .mat-tab-group {
  height: 100%;

  .mat-tab-body-wrapper {
    height: calc(100% - 58px);
  }

  .mat-expansion-panel-header-title span {
    color: $cdm-grey-dark;
    font-weight: bold;
    font-size: 14px;
  }

  .mat-ink-bar {
    background-color: $blue !important;
    height: 3px;
  }

  .mat-tab-header {
    margin-bottom: 10px;
    border-bottom: none;

    .mat-tab-label {
      opacity: 1;
      float: left;
    }

    .mat-tab-label-active .mat-tab-label-content {
      color: $blue;
    }

    .mat-tab-label-content {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
