<div class="export-actions">
  <button
    mat-icon-button
    matTooltip="Download ziped mappings"
    aria-label="generate mapping xmls"
    (click)="generateMappingJson()"
  >
    <mat-icon>file_download</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Preview mappings"
    aria-label="preview mapping xmls"
    (click)="previewMapping()"
  >
    <mat-icon>play_circle_filled_white</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Delete all mappings"
    aria-label="delete all mappings"
    (click)="wipeAllMappings()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>

<section>
  <main #maincanvas class="main">
    <app-area area="source" class="area-source">
      <ng-container *ngFor="let table of source; trackBy: trackByFn">
        <ng-container *ngIf="table.visible">
          <app-panel
            [table]="table"
            (open)="onPanelOpen(table)"
            (close)="onPanelClose(table)"
            (initialized)="onPanelInit(table)"
          >
            <app-panel-table
              [table]="table"
              [displayedColumns]="[
                'column_indicator',
                'column_name',
                'column_type',
                'values',
                'comments'
              ]"
            >
            </app-panel-table>
          </app-panel>
        </ng-container>
      </ng-container>
    </app-area>
    <!--Bridge-->
    <div class="hint">
      <div class="patch-top"></div>
      <svg class="canvas" #arrowsarea>
        <defs>
          <marker
            id="dot-start"
            viewBox="0 0 10 10"
            refX="5"
            refY="5"
            markerWidth="10"
            markerHeight="10"
            markerUnits="userSpaceOnUse"
          >
            <circle cx="5" cy="5" r="5" fill="#BDBDBD"/>
          </marker>
          <marker
            id="dot"
            viewBox="0 0 10 10"
            refX="5"
            refY="5"
            markerWidth="10"
            markerHeight="10"
            markerUnits="userSpaceOnUse"
          >
            <circle cx="5" cy="5" r="5" fill="#BDBDBD"/>
          </marker>
          <marker
            id="dot-active"
            viewBox="0 0 10 10"
            refX="5"
            refY="5"
            markerWidth="10"
            markerHeight="10"
            markerUnits="userSpaceOnUse"
          >
            <circle cx="5" cy="5" r="5" fill="#066BBB" />
          </marker>
        </defs>
      </svg>
      <p>
        {{ hint }}
      </p>
      <!-- <div class="patch-bottom"></div> -->
    </div>
    <!--End-of-the-Bridge-->
    <app-area area="target" class="area-target">
      <mat-tab-group (selectedIndexChange)="onTabIndexChanged($event)">
        <mat-tab
          label="{{ table.name }}"
          *ngFor="let table of target; trackBy: trackByFn"
        >
          <app-panel
            *ngIf="table.visible"
            [table]="table"
            (open)="onPanelOpen(table)"
            (close)="onPanelClose(table)"
            (initialized)="onPanelInit(table)"
          ></app-panel>
        </mat-tab>
      </mat-tab-group>
    </app-area>
  </main>
  <footer>
    <div>
      <mat-checkbox>Link similar items from other source tables</mat-checkbox>
    </div>
  </footer>
</section>
