@import 'src/app/styles/variables.scss';

.area-source {
  position: relative;
  width: 35%;
  float: left;
}

.area-target {
  position: relative;
  width: 35%;
  float: right;
}

section {
  height: calc(100% - 40px);

  main {
    width: 100%;
    height: calc(100% - 161px);
    position: relative;
    float: left;
  }

  .hint {
    position: absolute;
    left: 35%;
    color: $cdm-grey-dark;
    display: flex;
    text-align: center;
    justify-content: center;
    width: calc(30% + 10px);
    height: 100%;
    z-index: 2;

    p {
      top: 20%;
      position: absolute;
      font-size: 14px;
    }

    .patch-top {
      @extend .patch;
      top: -94%;
    }

    .patch-bottom {
      @extend .patch;
      bottom: -100%;
    }
  }
}

.canvas {
  height: 100%;
  width: 100%;
}

footer {
    width: 100%;
    float: left;

    button {
      float: right;
      margin-top: 15px;
      margin-bottom: 30px;
      margin-left: 15px;
    }
}

.delete-links {
  color: red;
  cursor: pointer;
  background: #E8E8E8;
  font-weight: bold;
}

.patch {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.mapping-component-progress {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.export-actions {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.app-mapping {
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
}


// Temporary
.breadcrumbs {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;

  .title {
    font-size: 14px;
    font-weight: bolder;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .link-tables {
    color: $black;
  }

  .link-fields {
    color: $blue;
  }

  .sep {
    color:$cdm-grey-dark;
  }
}

::ng-deep .mat-tab-labels {
  display: block !important;
}

::ng-deep .mat-tab-group{
  .mat-expansion-panel-header-title span {
    color: $cdm-grey-dark;
    font-weight: bold;
    font-size: 14px;
  }

  .mat-ink-bar {
    background-color: $blue !important;
    height: 3px;
  }

  .mat-tab-header {
    margin-bottom: 10px;
    border-bottom: none;

    .mat-tab-label {
      opacity: 1;
      float: left;
    }

    .mat-tab-label-active .mat-tab-label-content {
      color: $blue;
    }

    .mat-tab-label-content {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
