@import 'src/app/styles/variables.scss';

.area-source {
  min-width: 400px;
}

.area-target {
  max-width: 500px;
}

section {
    //margin: 0 20px;

    main {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
    }

    .hint {
        color: #404040;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        min-width: 200px;

        p {
            top: 20%;
            position: absolute;
            font-size: 14px;
        }

        .patch-top {
            @extend .patch;
            top: -94%;

        }

        // .patch-bottom {
        //     @extend .patch;
        //     bottom: -100%;
        // }
    }

    .canvas {
        height: 100%;
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
}

.patch {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.mapping-component-progress {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.export-actions {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.app-mapping {
  margin-left: 20px;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
}

