<form class="scan-params" [formGroup]="scanParamsForm">
  <div class="scan-params__check">
    <div class="scan-params__check-control scan-data-form-control">
      <app-cdm-checkbox formControlName="scanValues"></app-cdm-checkbox>
      <p matTooltip="Include a frequency count of field values in the scan report">Scan Field Values</p>
    </div>

    <div class="scan-params__check-control scan-data-form-control">
      <app-cdm-checkbox formControlName="calculateNumericStats"></app-cdm-checkbox>
      <p matTooltip="Include average, standard deviation and quartiles of numeric fields">Numeric Stats</p>
    </div>
  </div>

  <div class="scan-params__input scan-data-form-control">
    <div class="scan-params__input-control scan-data-form-control" [ngClass]="{'disabled': !scanParamsForm.get('scanValues').value}">
      <label matTooltip="Minimum frequency for a field value to be included in the report">Min Cell Count</label>
      <input type="number" min="1" formControlName="minCellCount">
    </div>

    <mat-form-field class="scan-params__input-control scan-data-form-control" floatLabel="never" appearance="none"
                    [ngClass]="{'disabled': !scanParamsForm.get('scanValues').value}">
      <label matTooltip="Maximum number of distinct values per field to be reported">Max Distinct Values</label>
      <mat-select formControlName="maxValues">
        <mat-option *ngFor="let option of maxDistinctValues" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="scan-params__input-control scan-data-form-control" floatLabel="never" appearance="none"
                    [ngClass]="{'disabled': !scanParamsForm.get('scanValues').value}">
      <label matTooltip="Maximum number of rows per table to be scanned for field values">Rows per Table</label>
      <mat-select formControlName="sampleSize">
        <mat-option *ngFor="let option of rowsPerTableValues" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="scan-params__input">
    <mat-form-field class="scan-params__input-control scan-data-form-control long"
                    floatLabel="never" appearance="none"
                    [ngClass]="{'disabled': !scanParamsForm.get('calculateNumericStats').value}">
      <label matTooltip="Maximum number of rows used to calculate numeric statistics">Numeric Stats Reservoir Size</label>
      <mat-select formControlName="numericStatsSamplerSize">
        <mat-option *ngFor="let option of numericStatsReservoirSize" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

