.tables-select {
    background: white;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 123px;
    max-height: 150px;
    margin: 0px 10px 10px 0px;
}

.table-select-option {
    height: 30px;
    font-size: 16px;
}

.mat-list-item.active {
    color: #e5e5e5;
}
