@import 'src/app/styles/variables.scss';

.dialog {
    width: 224px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;

    .input {
        border-radius: 2px;
        border: 0.75px solid $light-grey;
        height: 25px;
        background-color: #F9F9F9;
    }

    .input-add {
        @extend .input;
        width: 224px;
    }

    .input-edit {
        @extend .input;
        width: 208px;
    }

    button {
        padding: 0;
        min-width: 0;
    }

    .mat-list {
        width: 100%;

        .list-item-edit {
            .mat-list-item-content {
                height: 81px;
            }
        }
    }

    .mat-list-item {
        height: 100%;
        background-color: #EEEEEE;
        margin-bottom: 5px;

        .mat-list-item-content {
            padding: 0 10px;
        }
    }
}

.dialog-source {
    @extend .dialog;

    &:after {
        content: "";
        position: absolute;
        bottom: 58px;
        left: 1px;
        width: 0;
        height: 0;
        box-sizing: border-box;
        border: 5px solid $black;
        border-color: transparent transparent #F9F9F9 #F9F9F9;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: -1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    }
}

.dialog-target {
    @extend .dialog;

    &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 10px;
        width: 0;
        height: 0;
        box-sizing: border-box;
        border: 5px solid $black;
        border-color: transparent white white transparent;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: 2px 2px 0px 0 rgba(0, 0, 0, 0.15);
    }
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .date {
        font-size: 12px;
    }

    mat-icon {
        font-size: 13px;
    }
}

.read {
    @extend .comment;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #808080;
    }

    main {
        width: 100%;
        word-break: break-word;

        p {
            font-size: 13px;
        }
    }

    button {
        width: 20px;
    }
}

.edit {
    @extend .comment;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #808080;
        margin: 4px 0;
    }

    footer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: -4px;
        }
    }

    button {
        width: 20px;
    }
}