<div class="comfy-container">
  <div class="instruction">
    <h1>Tables mapping</h1>
    <div>
      In order to make mapping, drag and drop source table to the target table
    </div>
  </div>
  <div class="mapping-component-progress" *ngIf="busy">
    <mat-progress-spinner [mode]="'indeterminate'" [color]="'accent'">
    </mat-progress-spinner>
  </div>
  <div class="comfy-grid" *ngIf="!busy">
    <!--Search by start-->
    <app-comfy-search-by-name
      class="filter-by-name"
      [placeholder]="'Search by source column'"
      (complete)="filterByName('source-column', $event)"
    ></app-comfy-search-by-name>
    <app-comfy-search-by-name
      class="filter-by-name"
      [placeholder]="'Search by source table'"
      (complete)="filterByName('source', $event)"
    ></app-comfy-search-by-name>
    <app-comfy-search-by-name
      class="filter-by-name"
      [placeholder]="'Search by target table'"
      (complete)="filterByName('target', $event)"
    ></app-comfy-search-by-name>

    <!--Search by end-->
    <!-- Source schema columns-->
    <div class="vertical-container">
      <h2 class="page-column-label">Source columns</h2>
      <app-columns-list
        [tables]="sourceTables"
        (columnsSelected)="findTables($event)"
      ></app-columns-list>
    </div>
    <!-- CDM tables -->
    <div class="cdm-container">
      <h2 class="page-column-label">Source tables</h2>
      <div class="scrolled-items">
        <div
          class="cdm-list"
          cdkDropList
          cdkDropListSortingDisabled
          #sourceList="cdkDropList"
          [cdkDropListData]="source"
          [cdkDropListConnectedTo]="sourceConnectedTo"
        >
          <div class="cdm-box" cdkDrag *ngFor="let item of source">
            <mat-icon>drag_indicator</mat-icon>
            <div
              class="table-description source caption"
              matTooltip="{{ item }}"
              matTooltipPosition="right"
              [attr.criteria]="item"
              highlight
              [values]="highlitedTables"
            >
              {{ item }}
            </div>
            <div *cdkDragPreview class="table-description source preview">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Source schema tables (what we want to compose) -->
    <div class="vertical-container destination" cdkDropListGroup>
      <h2 class="page-column-label">Target tables</h2>
      <div class="scrolled-items" #scrollEl cdk-scrollable>
        <div
          id="{{ target[targetName].name }}"
          class="vertical-list"
          *ngFor="let targetName of targetTableNames"
          cdkDropList
          [cdkDropListData]="target[targetName].data"
          (cdkDropListDropped)="
            !drop.canExecute($event) || drop.execute($event)
          "
        >
          <div
            class="vertical-box"
            *ngFor="let tableName of target[targetName].data; let i = index"
          >
            <div
              class="table-description target caption"
              concept="{{ tableName }}"
              matTooltip="{{ tableName }}"
              [matTooltipPosition]="'right'"
              (click)="openMapping(tableName)"
            >
              <span class="target-label">{{ tableName }}</span>
              <span style="flex: 1 1 auto"></span>
              <mat-icon
                *ngIf="i > 0"
                class="remove-mapping-table"
                (click)="removeTableMapping($event, tableName, targetName)"
                >close</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
