<div class="comfy-container">
  <div class="mapping-component-progress" *ngIf="busy">
    <mat-progress-spinner [mode]="'indeterminate'" [color]="'accent'">
    </mat-progress-spinner>
  </div>
  <div class="comfy-grid" *ngIf="!busy">
    <!-- Source schema columns-->
    <div class="vertical-container background">
      <h3 class="filter-label">Filter by columns</h3>
      <app-comfy-search-by-name
        class="filter-by-name"
        [placeholder]="'Search by source column'"
        (complete)="filterByName('source-column', $event)"
        (reset)="filterByNameReset('source-column', $event)"
      ></app-comfy-search-by-name>
      <h4 class="page-column-label">Source columns</h4>
      <app-columns-list
        class="source-columns-list"
        [sourceRows]="sourceRows"
        (columnsSelected)="findTables($event)"
      ></app-columns-list>
    </div>
    <!-- Source tables -->
    <div class="cdm-container">
      <h3 class="filter-label">Link tables</h3>
      <app-comfy-search-by-name
        class="filter-by-name"
        [placeholder]="'Search by source table'"
        (complete)="filterByName('source', $event)"
        (reset)="filterByNameReset('source', $event)"
      ></app-comfy-search-by-name>
      <h4 class="page-column-label">Source tables</h4>
      <div class="scrolled-items">
        <div
          class="cdm-list"
          cdkDropList
          cdkDropListSortingDisabled
          #sourceList="cdkDropList"
          [cdkDropListData]="source"
          [cdkDropListConnectedTo]="sourceConnectedTo"
        >
          <div
            class="cdm-box"
            [attr.criteria]="item"
            highlight
            [values]="highlitedTables"
            cdkDrag
            *ngFor="let item of source"
          >
            <mat-icon>drag_indicator</mat-icon>
            <div
              class="table-description source caption"
              matTooltip="{{ item }}"
              matTooltipPosition="right"
              concept="{{ item }}"
            >
              {{ item }}
            </div>
            <div *cdkDragPreview class="table-description source preview">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CDM -->
    <div class="destination" cdkDropListGroup>
      <h3 class="filter-label" style="color: white;">Map CDM to the Source tables</h3>
      <app-comfy-search-by-name
        class="filter-by-name"
        [placeholder]="'Search by target table'"
        (complete)="filterByName('target', $event)"
        (reset)="filterByNameReset('target', $event)"
      ></app-comfy-search-by-name>
      <h4 class="page-column-label">Target tables</h4>
      <div class="scrolled-items" #scrollEl cdk-scrollable>
        <div
          id="{{ target[targetName].name }}"
          class="vertical-list"
          *ngFor="let targetName of targetTableNames"
          cdkDropList
          [cdkDropListData]="target[targetName].data"
          (cdkDropListDropped)="
            !drop.canExecute($event) || drop.execute($event)
          "
        >
          <div
            class="vertical-box"
            *ngFor="let tableName of target[targetName].data; let i = index"
          >
            <div
              class="table-description target caption"
              matTooltip="{{ tableName }}"
              [matTooltipPosition]="'right'"
              (click)="openMapping(tableName)"
            >
              <span class="target-label">{{ tableName }}</span>
              <span style="flex: 1 1 auto"></span>
              <mat-icon
                *ngIf="i > 0"
                class="remove-mapping-table"
                (click)="removeTableMapping($event, tableName, targetName)"
                >close</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
