@import 'src/app/styles/variables.scss';

.comfy-grid {
  display: grid;
  grid-template-columns: 400px 292px 292px;
  column-gap: 50px;
}

.instruction {
  font-size: medium;
  font-weight: 400;
}

.vertical-list {
  max-width: 100%;
  display: block;
  background: white;
  overflow: hidden;
  padding-bottom: 16px;
}

.vertical-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: #e1f2ff;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.25);
}

.vertical-placeholder {
  width: 150px;
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.vertical-box:first-child {
  background: #a6d2f4;
}

.vertical-box:last-child {
  border: none;
  padding-bottom: 0;
}

.vertical-list.cdk-drop-list-dragging
.horizontal-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  opacity: 1;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.25);

  .table-description {
    color: red;
    background: #e1f2ff;
  }
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.table-description {
  position: relative;
  padding: 1.128571428571429rem;
  color: #000d37;
  font-size: 1.142857142857143rem;
  line-height: 1.357142857142857rem;
  width: 100%;
  text-transform: uppercase;
  cursor: move;

  &.caption {
    width: 100%;
  }

  &.preview {
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.source {
    direction: ltr;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.target {
    display: flex;
  }

  .remove-mapping-table {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

.target-label {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div[highlighted="true"] {
  background-color: #a6d2f4;
  font-weight: 600;
}

.mapping-component-progress {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled-items {
  height: 90vh;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

div[concept="true"] {
  background-color: #a6d2f4;
}

.cdm-container {
  max-width: 100%;
  vertical-align: top;
}

.cdm-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  overflow: hidden;
}

.cdm-box {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  font-size: 14px;
  margin-bottom: 16px;
  padding-left: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.25);
}

.filter-label {
  padding-top: 20px;
  padding-left: 13px;
}

.filter-label-white {
  @extend .filter-label;
  color: white;
}

.page-column-label {
  padding-left: 13px;
  direction: initial;
}

.instruction {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

.source-columns-list {
  direction: rtl;
}

.background {
  background: #e8e8e8;
}

.vertical-container {
  display: flex;
  flex-direction: column;

  padding-right: 32px;
  padding-left: 32px;
}

.destination {
  max-width: 100%;
  vertical-align: top;
}


:host {
  display: flex;
  height: calc(100% - 64px);
}

main {
  flex: 3 1 80%;
  order: 2;
  padding: 50px 50px 10px;
}

nav {
  background: $cdm-background-grey-blue-gradient;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.25);
  width: 395px;
  max-width: 395px;
  order: 1;
  padding: 50px 50px 10px;
  position: relative;
  z-index: 1;
}

ul {
  height: calc(100% - 125px);
  overflow: scroll;
  list-style: none;
  direction: rtl;
  margin: 0;
  padding: 0;

  li {
    direction: ltr;
    text-align: left;
  }

}

.articles {
  display: flex;
  height: calc(100% - 50px);
  align-items: stretch;
  justify-content: space-between;
  max-width: 1046px;
}

article {
  width: 40%;
  min-width: 410px;
  display: flex;
  flex-direction: column;

  .initial {
    background-color: rgba(231, 244, 255, 0.2);
    border: 1px dashed #cde0ef;
    border-radius: 2px;
    flex-grow: 1;
    text-align: center;

    p {
      font-style: italic;
      margin: 100px 110px 40px;
    }
  }

  &:last-of-type {
    .initial {
      border-color: #a6d2f4;
      background-color: rgba(166, 210, 244, 0.4);
    }

    ul {
      direction: ltr;
    }
  }
}
