<div class="scan-data">
  <div class="scan-data__header">
    <h4>Scan Data</h4>
    <app-close-dialog-button (click)="onClose()"></app-close-dialog-button>
  </div>

  <div class="scan-data__content">
    <app-scan-data-form *ngIf="selectedIndex === 0; else scanProgressBlock" style="width: 100%"
                        (scanTables)="onScanTables($event)"
                        (cancel)="onClose()"></app-scan-data-form>

    <ng-template #scanProgressBlock>
      <app-scan-data-console style="width: 100%"
                             [dbSettings]="dbSettings"
                             (cancel)="onScanningCancel()"
                             (close)="onClose()"></app-scan-data-console>
    </ng-template>
  </div>
</div>
