<div class="scan-dialog">
  <div class="scan-dialog__header">
    <h4>
      Scan Data
      <app-warning-hint *ngIf="showMySqlHint else defaultHintBlock" key="mySqlScanDataLimit"></app-warning-hint>
      <ng-template #defaultHintBlock>
        <app-hint key="scanData"></app-hint>
      </ng-template>
    </h4>
    <app-close-dialog-button class="scan-dialog__header-close" (click)="onCloseByDagger()"></app-close-dialog-button>
  </div>

  <div class="scan-dialog__content">
    <app-scan-data-form *ngIf="isSetParametersMode; else scanProgressBlock" style="width: 100%"
                        (scanTables)="onScanTables($event)"
                        (cancel)="onClose()"></app-scan-data-form>

    <ng-template #scanProgressBlock>
      <app-scan-data-console-wrapper style="width: 100%"
                                     [conversion]="conversion"
                                     [project]="project"
                                     (back)="onCancel()"
                                     (close)="onClose()"></app-scan-data-console-wrapper>
    </ng-template>
  </div>
</div>
