<div class="vocabulary-search">
  <div class="vocabulary-search__side-panel">
    <h2 class="vocabulary-search__side-panel__header">
      Filters
    </h2>

    <div class="vocabulary-search__chips">
      <div class="vocabulary-search__chips-item">
        <span>Non-standard</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.3"
                d="M7 0C3.129 0 0 3.129 0 7C0 10.871 3.129 14 7 14C10.871 14 14 10.871 14 7C14 3.129 10.871 0 7 0ZM10.5 9.513L9.513 10.5L7 7.987L4.487 10.5L3.5 9.513L6.013 7L3.5 4.487L4.487 3.5L7 6.013L9.513 3.5L10.5 4.487L7.987 7L10.5 9.513Z"
                fill="white"/>
        </svg>
      </div>

      <div class="vocabulary-search__chips-item">
        <span>Procedure</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.3"
                d="M7 0C3.129 0 0 3.129 0 7C0 10.871 3.129 14 7 14C10.871 14 14 10.871 14 7C14 3.129 10.871 0 7 0ZM10.5 9.513L9.513 10.5L7 7.987L4.487 10.5L3.5 9.513L6.013 7L3.5 4.487L4.487 3.5L7 6.013L9.513 3.5L10.5 4.487L7.987 7L10.5 9.513Z"
                fill="white"/>
        </svg>

      </div>
    </div>

    <div class="vocabulary-search__filters">
      <div class="vocabulary-search__filters-item">
        <div class="vocabulary-search__filters-item__name domain">
          <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="4" cy="4" r="4"/>
          </svg>
          <span>Domain</span>
        </div>
        <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0L4 4L8 0H0Z" fill="#404040"/>
        </svg>
      </div>

      <div class="vocabulary-search__filters-item">
        <div class="vocabulary-search__filters-item__name concept">
          <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="4" cy="4" r="4"/>
          </svg>
          <span>Concept</span>
        </div>
        <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0L4 4L8 0H0Z" fill="#404040"/>
        </svg>
      </div>
    </div>
  </div>

  <div class="vocabulary-search__content">
    <h2 class="vocabulary-search__header">
      Vocabulary Search
    </h2>

    <div class="vocabulary-search__toolbar">
      <label class="vocabulary-search__input">
        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.97917 7.91667H8.41958L8.22125 7.72542C8.91542 6.91792 9.33333 5.86958 9.33333 4.72917C9.33333 2.18625 7.27208 0.125 4.72917 0.125C2.18625 0.125 0.125 2.18625 0.125 4.72917C0.125 7.27208 2.18625 9.33333 4.72917 9.33333C5.86958 9.33333 6.91792 8.91542 7.72542 8.22125L7.91667 8.41958V8.97917L11.4583 12.5138L12.5138 11.4583L8.97917 7.91667ZM4.72917 7.91667C2.96542 7.91667 1.54167 6.49292 1.54167 4.72917C1.54167 2.96542 2.96542 1.54167 4.72917 1.54167C6.49292 1.54167 7.91667 2.96542 7.91667 4.72917C7.91667 6.49292 6.49292 7.91667 4.72917 7.91667Z"
                fill="#808080"/>
        </svg>
        <input placeholder="Search by Keywords"/>
      </label>

      <div class="vocabulary-search__navigation" (click)="handleNavigation($event)">
        <div class="show-by">
          <label for="show-by">Show by</label>
          <input id="show-by" type="number" value="100">
        </div>

        <div class="total">
          <label>Total</label>
          <span>8 000 566</span>
        </div>

        <div class="pagination">
          <div class="arrow-wrapper arrow-left" data-arrow="left">
            <svg data-arrow="left" width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path data-arrow="left" d="M4 0L6.3573e-08 4L4 8L4 0Z" fill="#066BBB"/>
            </svg>
          </div>

          <span data-page="first" [ngClass]="{selected: currentPage === 1}">
            1
          </span>

          <span *ngIf="pageCount > 4 && movableIndexes.second > 2" class="no-clickable">...</span>

          <span data-page="second" *ngIf="pageCount > 1"
                [ngClass]="{selected: currentPage === movableIndexes.second}">
            {{movableIndexes.second}}
          </span>

          <span data-page="third" *ngIf="pageCount > 2"
                [ngClass]="{selected: currentPage === movableIndexes.third}">
            {{movableIndexes.third}}
          </span>

          <span *ngIf="pageCount > 4 && movableIndexes.third < pageCount - 1" class="no-clickable">...</span>

          <span data-page="fourth" *ngIf="pageCount > 3"
                [ngClass]="{selected: currentPage === pageCount}">
            {{pageCount}}
          </span>

          <div class="arrow-wrapper arrow-right" data-arrow="right">
            <svg data-arrow="right" width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path data-arrow="right" d="M0 8L4 4L-3.49691e-07 0L0 8Z" fill="#066BBB"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="vocabulary-search__table-wrapper">
      <div class="vocabulary-search__table">
        <div class="row header">
          <div class="cell id">
            <div class="column">
              ID
              <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
              </svg>
            </div>
          </div>
          <div class="column cell code">
            Code
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
          <div class="column cell name">
            Name
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
          <div class="column cell class">
            Class
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
          <div class="column cell concept">
            Concept
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
          <div class="column cell validity">
            Validity
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
          <div class="column cell domain">
            Domain
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
          <div class="column cell vocab">
            Vocab
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
            </svg>
          </div>
        </div>

        <div *ngFor="let concept of concepts" class="row">
          <div class="cell id">{{concept.id}}</div>
          <div class="cell code">{{concept.code}}</div>
          <div class="cell name">{{concept.name}}</div>
          <div class="cell class">{{concept.className}}</div>
          <div class="cell concept">{{concept.standardConcept}}</div>
          <div class="cell validity">{{concept.invalidReason}}</div>
          <div class="cell domain">{{concept.domain}}</div>
          <div class="cell vocab">{{concept.vocabulary}}</div>
        </div>
      </div>

      <div *ngIf="requestInProgress" class="ui-blocker">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
</div>
