<div class="vocabulary-search" [style.bottom]="bottom">
  <div class="vocabulary-search__side-panel" [ngClass]="{blocked: disableAll}">
    <h2 class="vocabulary-search__side-panel__header">
      Filters
    </h2>

    <ng-container *ngIf="filters?.length > 0">
      <div class="vocabulary-search__chips" [style.height]="chipsHeight">
        <app-chip *ngFor="let filter of selectedFilters; let i = index"
                  [id]="i"
                  [name]="filter.name"
                  [backgroundColor]="chipBackgroundColor(filter.filterIndex)"
                  (delete)="onDeleteFilter($event)"></app-chip>
      </div>

      <div class="vocabulary-search__filters">
        <div *ngFor="let filter of filters" class="vocabulary-search__filters-wrapper">

          <app-filter-item [name]="filter.name"
                           [color]="filter.color"
                           [opened]="openedFilter === filter.name"
                           (open)="onOpen($event)"></app-filter-item>

          <app-filter-list *ngIf="filter.name === openedFilter"
                           [values]="filter.values"
                           (check)="onCheckFilter($event)"></app-filter-list>
        </div>
      </div>

      <div class="vocabulary-search__apply">
        <button class="clear" (click)="onClear()">Clear</button>
        <button class="apply" (click)="onEnterOrApply()">Apply</button>
      </div>
    </ng-container>

    <div *ngIf="disableAll" class="vocabulary-search__side-panel__blocker">
    </div>
  </div>

  <div class="vocabulary-search__content">
    <app-navigation-grid height="385px"
                         [data]="concepts"
                         [columns]="columns"
                         [total]="total"
                         [pageSize]="pageSize"
                         [error]="disableAll"
                         [loading]="requestInProgress"
                         (sort)="onSort($event)"
                         (pagination)="onPagination($event)">
      <div toolbar class="vocabulary-search__grid-toolbar">
        <label class="vocabulary-search__input">
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.97917 7.91667H8.41958L8.22125 7.72542C8.91542 6.91792 9.33333 5.86958 9.33333 4.72917C9.33333 2.18625 7.27208 0.125 4.72917 0.125C2.18625 0.125 0.125 2.18625 0.125 4.72917C0.125 7.27208 2.18625 9.33333 4.72917 9.33333C5.86958 9.33333 6.91792 8.91542 7.72542 8.22125L7.91667 8.41958V8.97917L11.4583 12.5138L12.5138 11.4583L8.97917 7.91667ZM4.72917 7.91667C2.96542 7.91667 1.54167 6.49292 1.54167 4.72917C1.54167 2.96542 2.96542 1.54167 4.72917 1.54167C6.49292 1.54167 7.91667 2.96542 7.91667 4.72917C7.91667 6.49292 6.49292 7.91667 4.72917 7.91667Z"
              fill="#808080"/>
          </svg>
          <input class="vocabulary-search-input" #keyWordInput placeholder="Search by Keywords"
                 [ngModel]="requestParams.query"/>
        </label>

        <div class="vocabulary-search__mode">
        <span>
          <input type="radio" value="local" [ngModel]="mode" (ngModelChange)="onModeChange($event)">
          Local
        </span>

          <span>
          <input type="radio" value="athena" [ngModel]="mode" (ngModelChange)="onModeChange($event)">
          Athena
        </span>
        </div>
      </div>

      <div error class="error-row">
        <div class="error-icon-wrapper">
          <mat-icon class="error-icon" svgIcon="error"></mat-icon>
        </div>
        <div class="error-text">
          Athena’s server error occured. Please try again later
          or use Local Vocabulary
        </div>
      </div>
    </app-navigation-grid>
  </div>

  <app-close-dialog-button class="vocabulary-search__close" (click)="onClose()"></app-close-dialog-button>
</div>
