Flask==2.0.3
Flask-Cors==3.0.9
flask-socketio==5.1.1
pysolr==3.9.0
peewee==3.14.8
pandas==0.23.4
scikit-learn==0.24.2
pyjwt==2.3.0
py-postgresql==1.2.1
psycopg2-binary==2.9.3
waitress==2.1.1
SQLAlchemy==1.4.35
APScheduler==3.9.1