<div class="console-wrapper">

  <app-white-rabbit-scan-data-console style="width: 100%" [params]="params"
                                      (finish)="onFinish($event)"></app-white-rabbit-scan-data-console>

  <div class="console-wrapper__action">
    <ng-container *ngIf="result; then scanningFinishedBlock; else scanningBlock"></ng-container>

    <ng-template #scanningFinishedBlock>
      <button class="console-wrapper__action-back cancel"
              (click)="onBack()">Back
      </button>
      <button class="console-wrapper__action-save confirm"
              (click)="onSaveReport()">Save report
      </button>
      <button class="console-wrapper__action-link confirm"
              (click)="onUploadReport()">Link tables
      </button>
    </ng-template>

    <ng-template #scanningBlock>
      <button class="console-wrapper__action-abort"
              (click)="onAbortAndCancel()">Abort and cancel
      </button>
    </ng-template>
  </div>
</div>
