@import "mixins";
@import "variables";

.sign-in {
  &__form {
    width: 354px;
    height: 338px;

    &.add {
      height: 195px;
    }
  }
}

.auth-error {
  padding-top: 2px;
  font-size: 10px;
  color: #FF4646;
  text-align: center;
  height: 0;
}
