.flex{
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
}

.upper-blue{
    text-transform: uppercase;
    color: #066BBB;
}

.margin{
    margin-right: 5px;
}

.height-85{
    height: 85px !important;
}