@import '~@angular/material/theming';

@import 'app/styles/material.scss';
@import 'app/styles/theme.scss';
@import 'app/styles/overlays.scss';
@import 'app/styles/codemirror';

html, body {
  height: 100%;
  @extend .mat-typography;
  color: $cdm-grey-dark;

  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.divider {
  flex: 1 1 auto;
}

a {
  color: $cdm-blue;
  cursor: pointer;
}

.dialog-arrow {
  border-color: transparent;
  border-bottom-color: white;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  top: 37px;
  z-index: 1001;
  height: 0;
  width: 0;
  -webkit-animation: gb__a 100ms;
  animation: gb__a 100ms;
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, .05));
}

@-webkit-keyframes gb__a {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@keyframes gb__a {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

app-dialog {
  width: 240px;
}


.drag-over {
  background-color: $light-blue;
  outline: $blue auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #D6D4D4;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.drag-start {
  background-color: rgba(255, 255, 255, 0.5);

  & * {
    color: #C0C0C0 !important;
  }
}

path {
  stroke-width: 1;

  &.arrow {
    stroke: $grey;
  }

  &.arrow:hover {
    stroke-width: 5;
  }

  &.selected {
    stroke: $blue;
  }
}

article {
  &:first-of-type {
    margin-left: 10px !important;
  }

  & + & .search-by-name {
    margin-left: auto !important;
  }
}


app-toolbar.comfy > mat-toolbar.app-toolbar {
  width: 1440px !important;
  padding-right: 55px;
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  color: #066BBB !important;
  background: rgba(6, 107, 187, 0.2) !important;
}

.mat-pseudo-checkbox::after {
  color: #066BBB !important;
  padding-left: 2px !important;
  padding-top: 1px !important;
  border-width: 1.5px !important;
}

.mat-pseudo-checkbox {
  border: 1px solid !important;
  border-radius: 0px !important;
}

.source-form-control, .scan-params__input-control {
  .mat-form-field-wrapper {
    padding: 0 !important;
  }

  .mat-form-field-infix {
    border: 0 !important;
    padding: 0 !important;
  }
}

.scan-data-form__progress-bar {
  .mat-progress-bar-buffer {
    background-color: #F9F9F9;
  }

  .mat-progress-bar-fill::after {
    background-color: #066BBB;
  }
}

.scan-data-progress__bar {
  .mat-progress-bar {
    height: 10px;
  }

  .mat-progress-bar-buffer {
    background-color: #E5E5E5;
  }

  .mat-progress-bar-fill::after {
    background-color: #42980E;
  }
}
