@import '~@angular/material/theming';

@import 'app/styles/material.scss';
@import 'app/styles/theme.scss';
@import 'app/styles/overlays.scss';
@import 'app/styles/codemirror';

html, body {
  height: 100%;
  @extend .mat-typography;
  color: $cdm-grey-dark;

  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.divider {
  flex: 1 1 auto;
}

a {
  color: $cdm-blue;
  cursor: pointer;
}

.dialog-arrow {
  border-color: transparent;
  border-bottom-color: white;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  top: 37px;
  z-index: 1001;
  height: 0;
  width: 0;
  -webkit-animation: gb__a 100ms;
  animation: gb__a 100ms;
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, .05));
}

@-webkit-keyframes gb__a {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@keyframes gb__a {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

app-dialog {
  width: 240px;
}


.drag-over {
  background-color: $light-blue;
  outline: $blue auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #D6D4D4;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.drag-start {
  background-color: rgba(255, 255, 255, 0.5);

  & * {
    color: #C0C0C0 !important;
  }
}

path {
  stroke-width: 1;

  &.arrow {
    stroke: $grey;
  }

  &.arrow:hover {
    stroke-width: 5;
  }

  &.selected {
    stroke: $blue;
  }
}

article {
  &:first-of-type {
    margin-left: 10px !important;
  }

  & + & .search-by-name {
    margin-left: auto !important;
  }
}

