:host {
  display: block;
  background-color: white;
  .mat-list-base {
    padding-top: 0;
    .mat-list-item-content {
      padding: 0;
    }
  }
}

.option-text {
  text-transform: capitalize;
}

.filter-header {
  margin: 8px 16px 0 16px;
}
