<div class="console-wrapper">

  <app-scan-data-console></app-scan-data-console>

  <div class="console-wrapper__action">
    <ng-container *ngIf="processFinished; then scanningFinishedBlock; else scanningBlock"></ng-container>

    <ng-template #scanningFinishedBlock>
      <button class="scan-data-progress__action-back">Back</button>
    </ng-template>

    <ng-template #scanningBlock>
      <button class="scan-data-progress__action-abort">Abort and cancel</button>
    </ng-template>
  </div>
</div>
