.filter-dropdown-label {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &__name {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }

  &.opened .section-arrow {
    transform: rotate(180deg);
  }

  padding-right: 38px;
}
