<div class="help">
  <app-close-dialog-button class="help__close" (click)="dialogRef.close()"></app-close-dialog-button>

  <app-grey-logo class="help__logo"></app-grey-logo>

  <p>
    © 2020-2021, Perseus. All rights reserved.
    JSC «Arcadia» Inc.
  </p>

  <a target="_blank" href="mailto:perseus.support@arcadia.spb.ru">perseus.support@arcadia.spb.ru</a>

  <div class="help__github">
    <a target="_blank" href="https://github.com/SoftwareCountry/Perseus">Github</a>
    <span>|</span>
    <a target="_blank" href="https://github.com/SoftwareCountry/Perseus/wiki">Wiki</a>
  </div>
</div>
