@import "variables";

.help {
  width: 354px;
  height: 231px;
  background: #F9F9F9;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
  box-sizing: border-box;
  position: relative;

  &__close {
    position: absolute;
    top: 21px;
    right: 20px;
  }

  &__logo {
    margin-bottom: 30px;
    height: 26px;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 15px;
    color: $cdm-grey-dark;
  }

  a {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: $cdm-blue;
    outline: none;
  }

  &__github {
    span {
      margin: 0 4px;
    }
  }
}
