<div class="help">
  <app-close-dialog-button class="help__close" (click)="dialogRef.close()"></app-close-dialog-button>

  <mat-icon class="help__logo" svgIcon="logo_grey"></mat-icon>

  <p>
    © 2020-2021, Perseus. All rights reserved.
    JSC «Arcadia» Inc.

    <span class="help__version">Version {{version}}</span>
  </p>

  <a target="_blank" [href]="emailHref">{{email}}</a>

  <div class="help__github">
    <a target="_blank" href="https://github.com/OHDSI/Perseus">Github</a>
    <span>|</span>
    <a target="_blank" href="https://github.com/OHDSI/Perseus/wiki">Wiki</a>
  </div>
</div>
