@import "../../styles/variables";

:host {
  display: block;
}

label {
  display: block;
  color: $grey;
}

section:nth-of-type(2) {
  margin-bottom: 30px;
}

.table-box {
  text-transform: uppercase;
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.table-name {
  width: 495px;
  height: 130px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;

  .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.extended-chips-panel{
  width: 580px;
}

.mat-chip {
  cursor: pointer;
}

