@import "mixins";

.column-filters {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  height: 253px;
  padding: 20px 0;

  &__header {
    @include code-mapping-header;
    margin-bottom: 16px;
  }

  &__form {
    &__control {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      &__checkbox {
        margin-left: 8px;
      }
    }
  }
}
