<div class="selected">
  Selected: <span>{{selected.length}}</span>
  <a (click)="deselectAll()">Deselect All</a>
</div>
<mat-list class="source-columns-list" role="list" dense>
  <cdk-virtual-scroll-viewport
    class="virtual-scroll-container"
    itemSize="60"
    minBufferPx="200"
    maxBufferPx="400">
    <mat-list-item
      role="listitem"
      *ngFor="let item of sourceRows">
      <div
        class="data-item-caption"
        highlight
        [attr.criteria]="item.name"
        [values]="selected"
        (click)="onSelect(item.name)">
        <div class="data-item" #anchor>
          <mat-icon (click)="showTop10Values($event, anchor, item)" class="sort">sort</mat-icon>
          <span>{{ item.name }}</span>
          <span class="divider"></span>
          <mat-icon color="accent" class="checked">done</mat-icon>
        </div>
      </div>
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
