.data-list {

}

.data-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;

  display: flex;
  align-items: center;
}

.data-item-caption {
  padding: 9px;
  border-radius: 5px;
  background-color: #ffca0596;
  color: #000d37;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.virtual-scroll-container {
  height: 70vh;
  width: 200px;
  overflow-x: hidden;
}

div[highlighted=true] {
  background-color: #a7a4a4d1;
  font-weight: 400;
}

.list-item {
  padding-bottom: 5px !important;
}
