<mat-list role="list" dense>
  <cdk-virtual-scroll-viewport
    class="virtual-scroll-container"
    itemSize="60"
    minBufferPx="200"
    maxBufferPx="400"
  >
    <mat-list-item
      role="listitem"
      *cdkVirtualFor="let item of sourceRows"
      class="list-item"
    >
      <div
        class="data-item-caption"
        [attr.criteria]="item.name"
        highlight
        [values]="selectedColumns"
        (click)="onSelectColumn(item.name)"
      >
        <div class="data-item" #ancor>
          <span>{{ item.name }}</span>
          <span style="flex: 1 1 auto;"></span>
          <mat-icon (click)="showTop10Values($event, ancor, item)">sort</mat-icon>
        </div>
      </div>
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
