@import '~@angular/material/theming';
@import "../../styles/variables.scss";

.selected {
  direction: ltr;
  font-size: smaller;
  padding: 10px;

  span {
    color: $cdm-grey;
  }

  a {
    margin-left: 30px;
  }
}

.data-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  padding: 10px 15px 5px;
  font-size: larger;
  align-items: center;
  @include mat-elevation-transition;
  @include mat-elevation(1, $cdm-grey, 0.8);

  .mat-icon {
    font-size: 15px;
    height: 16px;
    &.checked {
      display: none;
    }
  }
  span {
    font-weight: bolder;
  }
}

.data-item-caption {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid transparent;
}

mat-list-item.mat-list-item {
  direction: ltr;

  & + & {
    margin-top: 16px;
  }
}

.virtual-scroll-container {
  height: calc(100vh - 340px);
  overflow-x: hidden;
}

[highlighted="true"] {
  @include mat-elevation-transition;
  background-color: #E7F4FF;
  border-color: $cdm-blue;
  border-radius: 2px;
  .mat-icon.checked {
    display: block;
  }
}


