@import "variables";

@mixin cdm-label {
  font-size: 12px;
  line-height: 15px;
  color: #808080;
}

@mixin cdm-input {
  border: 0;
  border-bottom: 1px solid #2C2C2C;
  padding: 5px 0;

  font-size: 14px;
  line-height: 15px;
  color: $cdm-grey-dark;

  &:focus {
    outline: none;
  }
}

@mixin cdm-button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.apply {
    background: $blue;
    color: #fff;
  }

  &.cancel {
    background: $cdm-grey-light;
    color: $cdm-grey-dark;
  }
}

@mixin perseus-header {
  font-size: 18px;
  font-weight: 550;
  line-height: 23px;
  color: $cdm-grey-dark;
}

@mixin perseus-blue-button {
  background: $cdm-blue;
  color: #FFFFFF;
}

@mixin invalid-text-decoration {
  &.ng-invalid.ng-touched {
    border-bottom: 1px solid #FF4646;
  }
}

@mixin perseus-error-message {
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
  font-weight: 300;
  color: #FF4646;
}

@mixin login-input() {
  background: #F9F9F9;
  @include cdm-input();
  @include invalid-text-decoration();

  &::placeholder {
    color: rgba(64, 64, 64, 0.2);
  }
}

@mixin vocabulary-button {
  @include cdm-button();
  cursor: default;
  width: 150px;
  height: 33px;
  color: $blue;
  border: 1px solid #066BBB;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

@mixin ui-blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9b9b9b;
  opacity: 0.35;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin perseus-control {
  label {
    @include cdm-label();
  }

  input, .mat-select {
    @include cdm-input();
  }

  &.disabled {
    label {
      opacity: 0.6;
    }

    input {
      opacity: 0.6;
      border-bottom: 1px solid #808080;
    }
  }
}

@mixin form-control {
  display: flex;
  flex-direction: column;

  input, .mat-select {
    background: #F9F9F9;

    &.ng-invalid.ng-touched {
      border-bottom: 1px solid red;
    }
  }
}

@mixin code-mapping-header {
  color: $cdm-grey-dark;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

@mixin import-codes-content {
  padding: 23px 80px 20px 56px;
  width: calc(100% - 394px); // 394 - usagi-panel width
  height: 100%;
}

@mixin popup-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

@mixin grid-scroll {
  &::-webkit-scrollbar {
    width: 14px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb:vertical {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}

@mixin perseus-popup {
  background: $cdm-grey-lighter;
  border-radius: 2px;
  padding: 42px 35px 35px 38px;
  position: relative;

  &__header {
    @include popup-header();
    margin-bottom: 18px;
  }

  &__close-icon {
    position: absolute;
    top: 21px;
    right: 20px;
  }
}

@mixin perseus-bottom-content-panel {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  right: 0;
  left: 0;
  width: 100%;
  height: 465px;
  background: #fff;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: normal;
  color: #404040;
  z-index: 103; // More than edit-mapping-panel

  &__side-panel {
    height: 100%;
    width: 300px;
    background: linear-gradient(180deg, rgba(231, 231, 231, .3) 22.56%, rgba(216, 227, 236, .3) 100%);
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 12px 12px 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &.blocked {
      opacity: .3;
    }

    &__header {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      padding-top: 44px;
      padding-left: 38px;
    }

    &__blocker {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@mixin search-input {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #808080;
  }
}

@mixin perseus-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin radio-button() {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;

    input {
      margin: 0 8px 2px 0;
    }
  }
}

@mixin grid-error-row {
  display: flex;
  justify-content: center;
  align-items: center;
  $error-height: 32px;

  .error-icon-wrapper {
    height: $error-height;
  }

  .error-icon {
    height: 17px;
    width: 22px;
    margin-right: 6px;
  }

  .error-text {
    width: 314px;
    height: $error-height;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
  }
}

@mixin search-grid-side-panel-filters {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid rgba(6, 107, 187, .1);
  overflow-y: auto;
}

@mixin transformation-function {
  position: relative;
  width: 476px;
}

@mixin transformation-function-toolbar {
  position: relative;
  top: -25px;
  left: 155px;
  width: 272px;
  height: 0;

  * {
    height: 25px;
  }
}

@mixin hint() {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

@mixin overlay-border-arrow {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
}

@mixin perseus-text-area {
  border: 1px solid $cdm-grey-light;
  padding: 14px;
  font-size: 14px;
  line-height: 15px;
  color: $cdm-grey-dark;
  resize: none;
  outline: none;
  border-radius: 2px;
}
