@import "variables";

@mixin cdm-label {
  font-size: 12px;
  line-height: 15px;
  color: #808080;
}

@mixin cdm-input {
  border: 0;
  border-bottom: 1px solid #2C2C2C;
  padding: 5px 0;

  font-size: 14px;
  line-height: 15px;
  color: #404040;

  &:focus {
    outline: none;
  }
}

@mixin cmd-button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

@mixin vocabulary-button {
  @include cmd-button();
  width: 150px;
  height: 33px;
  color: $blue;
  border: 1px solid #066BBB;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
