$cdm-font-family: 'Roboto', sans-serif;

$black: #000;
$white: #fff;

$light-grey: #BDBDBD;
$grey: #808080;
$dark-grey: #3E3E3E;

$light-blue: #DCECF9;
$blue: #066BBB;

// CDM app main colors

$cdm-grey-dark: #404040;
$cdm-grey: #9b9b9b;
$cdm-grey-light: #e5e5e5;
$cdm-grey-lighter: #f9f9f9;
$cdm-blue: $blue;
$cdm-blue-light: #a6d2f4;
$cdm-blue-lighter: $light-blue;
$cdm-blue-lightest: #e7f4ff;



// CDM app main background colors

$cdm-background-grey-light: $cdm-grey-lighter;
$cdm-background-grey-dark: $cdm-grey-dark;
$cdm-background-grey-blue-gradient: linear-gradient(180deg, $cdm-grey-light 22.56%, #D8E3EC 100%);


$cdm-border-radius: 2px;

