@import '~@angular/material/_theming';
@import "./variables.scss";

.cdm-version-dialog {
  border-radius: 2px;
  .mat-dialog-container {
    position: relative;
    padding: 40px;
  }
  .mat-form-field-infix {
    width: 163px;
  }
  .mat-dialog-actions {
    justify-content: space-between;
  }
}
.filter-popup {
  @include mat-elevation-transition;
  @include mat-elevation(4);
}
