@import '~@angular/material/_theming';
@import './variables.scss';

%common-dialog {
  border-radius: 2px;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
  }
}

.cdm-version-dialog {
  @extend %common-dialog;

  .mat-dialog-container {
    position: relative;
    padding: 40px;
  }

  .mat-form-field-infix {
    width: 163px;
  }

  .mat-dialog-actions {
    justify-content: space-between;
  }
}

.warning-dialog {
  @extend %common-dialog;

   border-radius: 2px;
   width: 245px;
   height: 247px;
  .mat-dialog-container {
    position: relative;
    padding: 40px;
  }
}


.create-view-dialog {
  @extend %common-dialog;

  .mat-icon[svgIcon="help"] {
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;

      path {
        fill: $cdm-blue
      }
    }
  }

  .mat-form-field {
    display: block;
  }

  .mat-dialog-container {
    position: relative;
    width: 570px;
    padding: 40px 35px;
  }

  .mat-dialog-actions {
    justify-content: center;

    button.mat-button-base + button.mat-button-base {
      margin-left: 15px;
    }
  }
}

.filter-popup {
  @include mat-elevation-transition;
  @include mat-elevation(4);
}
