// CUSTOM_THEME

@import '~@angular/material/_theming';
@import "./variables.scss";

$custom-typography: mat-typography-config(
  $font-family: $cdm-font-family,
    // Section heading corresponding to the <h1> tag.
  $headline: mat-typography-level(24px, 32px, 500),
    // Section heading corresponding to the <h2> tag.
  $title: mat-typography-level(20px, 32px, 500),
    // Section heading corresponding to the <h3> tag.
  $subheading-2: mat-typography-level(18px, 23px, 600),
    // Section heading corresponding to the <h4> tag.
  $subheading-1: mat-typography-level(16px, 20px, 600),
    // Bolder body text.
  $body-2: mat-typography-level(14px, 18px, 600),
    // Base body text.
  $body-1: mat-typography-level(14px, 20px, 500),
    // Smaller body and hint text.
  $caption: mat-typography-level(12px, 20px, 400),
    // Buttons and anchors.
  $button: mat-typography-level(14px, 18px, 500),
    // Line-height must be unit-less fraction of the font-size.
    // Form input fields.
  $input: mat-typography-level(inherit, 1.125, 400)
);

// Foreground config
$dark-text: $cdm-grey-dark;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: $grey;
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              $cdm-grey-dark,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-disabled-text,
  icons:             $dark-disabled-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Background config
$light-background:    $white;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  $white;
$dark-bg-tooltip:     lighten($cdm-grey-dark, 20%);
$dark-bg-alpha-4:     rgba($cdm-grey-dark, 0.04);
$dark-bg-alpha-12:    rgba($cdm-grey-dark, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  stroked-button:           $cdm-grey-light,
  flat-button:              $cdm-grey-light,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

$mat-primary: (
  main: $cdm-grey-dark,
  lighter: $white,
  darker: $cdm-grey-light,
  200: $cdm-grey-dark, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$mat-accent: (
  main: $blue,
  lighter: $cdm-blue-lighter,
  darker: $cdm-blue-lighter,
  200: $blue, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$cdm-theme-primary: mat-palette($mat-primary, main, lighter, darker);
$cdm-theme-accent: mat-palette($mat-accent, main, lighter, darker);
$cdm-theme-warn: mat-palette($mat-red);

$cdm-theme: mat-light-theme(
    $cdm-theme-primary,
    $cdm-theme-accent,
    $cdm-theme-warn
);

@include mat-core($custom-typography);
@include angular-material-theme($cdm-theme);
