<div class="import-codes-wrapper">
  <div class="column-mapping-panel">
    <div class="column-mapping-panel__background"></div>
    <div class="column-mapping-panel__header">Column mapping</div>
  </div>

  <div class="import-vocabulary" [class.spinner]="loading">
    <div class="import-vocabulary__header">
      Please select and open .csv file to import data or edit existing vocabulary
    </div>

    <input #csvInput
           type="file"
           accept=".csv, xlsx, .xls"
           (change)="onFileUpload($event)"
           hidden />

    <button class="import-vocabulary__button" (click)="onImport()">Import CSV</button>

    <div *ngIf="vocabularies else loadingVocabulariesBlock" class="import-vocabulary__list">
      <div *ngIf="vocabularies.length === 0 else savedVocabularies" class="import-vocabulary__no-saved-vocabularies">
        <ng-container *ngIf="cannotLoadVocabularies; else noSavedVocabularies">
          Cannot load vocabularies
        </ng-container>
        <ng-template #noSavedVocabularies>
          No saved Vocabularies
        </ng-template>
      </div>

      <ng-template #savedVocabularies>
        <div *ngFor="let vocabulary of vocabularies | slice: 0: visibleVocabCount; index as i" class="import-vocabulary__list__item">
            <span appTextWidth
                  maxWidth="80"
                  #textWidth="textWidth"
                  [matTooltipDisabled]="textWidth.tooltipDisabled"
                  [matTooltip]="vocabulary">{{vocabulary}}</span>

          <app-import-vocabulary-buttons (edit)="onEdit(i)"
                                         (remove)="onRemove(i)"></app-import-vocabulary-buttons>
        </div>

        <button *ngIf="vocabularies?.length > visibleVocabCount" class="import-vocabulary__list__show-other"
                (click)="onShowOther()">
          Select other
          <svg [class.clicked]="showOther" width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0L4 4L8 0H0Z" fill="#066BBB"/>
          </svg>
        </button>

        <div *ngIf="showOther" class="import-vocabulary__list__other">
          <div *ngFor="let vocabulary of vocabularies | slice: visibleVocabCount; index as i" class="import-vocabulary__list__other__item">
            <span appTextWidth
                  #textWidth="textWidth"
                  [matTooltipDisabled]="textWidth.tooltipDisabled"
                  [value]="vocabulary"
                  [matTooltip]="vocabulary">{{vocabulary}}</span>

            <app-import-vocabulary-buttons (edit)="onEdit(i + visibleVocabCount)"
                                           (remove)="onRemove(i + visibleVocabCount)"></app-import-vocabulary-buttons>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-template #loadingVocabulariesBlock>
      <div class="import-vocabulary__loading">
        Loading existing vocabularies...
      </div>
    </ng-template>
  </div>
</div>
