<mat-form-field>
  <mat-select [multiple]="ismultipe"
    [formControl]="vocabularySelect"
    (openedChange)="onValuesSelected($event)"
    placeholder="type to select"
  >
    <ngx-mat-select-search
      placeholderLabel="type to filter"
      [formControl]="vocabularyFilter"
    ></ngx-mat-select-search>
    <mat-option *ngIf="showDefaultOption">None</mat-option>
    <mat-option
      *ngFor="let item of filteredVocabularyItems | async"
      [value]="item"
    >
      {{ item.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
