<mat-form-field>
  <mat-select [multiple]="isMultiple"
    [formControl]="vocabularySelect"
    (selectionChange)="onValueSelected($event)"
    placeholder="{{ vocabulary.name }}"
  >
    <ngx-mat-select-search
      placeholderLabel="type to filter"
      [formControl]="vocabularyFilter"
    ></ngx-mat-select-search>
    <mat-option>None</mat-option>
    <mat-option
      *ngFor="let item of filteredVocabularyItems | async"
      [value]="item"
    >
      {{ item.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
