@import "variables";
@import "mixins";

$border: 1px dashed #066BBB4C;

.visual-transformation {
  margin-bottom: 30px;

  &__add-function {
    color: $cdm-blue;
    width: 82px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__functions {
    height: 236px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-left: 3px solid #F9F9F9;
      border-radius: 3px;
    }

    .no-functions {
      border: $border;
      height: 100%;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__message {
        width: 180px;
        height: 51px;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: $cdm-grey-dark;
      }
    }

    .transformation-function {
      width: 497px;
      padding: 15px 10px;
      border: $border;
      border-radius: 2px;
      margin-bottom: 4px;

      &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        width: 100%;

        &__type {
          width: 120px;
          @include cdm-input();
        }

        &__remove {
          cursor: pointer;
        }
      }
    }
  }

  &__preview {
    margin-top: 25px;
    position: relative;

    &__header {
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 10px;
      color: $grey;
    }
  }
}
