@import 'variables';
@import 'mixins';

.concept-container {
  padding: 30px 35px 30px;
  position: relative;
  background: #f9f9f9;

  .close {
    position: absolute;
    top: 21px;
    right: 20px;
  }

  h3 {
    margin: 0;
  }
}

table {
  width: 100%;
  box-shadow: none;
  background-color: white;
  padding: 0;
  direction: ltr;
  border-collapse: unset;
  max-height: 130px;

  th {
    font-size: 13px;
    color: white;
    background-color: black;
  }

  td {
    padding-left: 5px;
    max-width: 105px;
    font-size: 16px;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 40px;
  }

  tr.mat-header-row {
    height: 40px;
  }

  .mat-header-cell {
    padding-left: 10px;
    max-width: 105px;
  }

  & .cdk-column-values {
    text-align: center;
  }

}

.alternate {
  background-color: rgba(6, 107, 187, 0.05) !important;
}

.add-concept-link {
  float: right;
  font-weight: bold;
  padding-bottom: 10px;
}

.flex-div {
  display: flex;
  align-items: center;
}

.concept-cell-selected {
  background-color: #cfe6f9;
  border-left: 4px solid #4bb0ff !important;
  border-right: 1px solid #4bb0ff !important;
  border-top: 1px solid #4bb0ff !important;
  border-bottom: 1px solid #4bb0ff !important;
}

input {
  outline: none;
  border: none;
  width: 90px;
  height: 30px;
  font-size: 16px;
  background-color: transparent;
}

.right-icon {
  margin-left: auto;
}

.right-pointer-icon {
  @extend .right-icon;
  cursor: pointer;
  height: 37px;
  line-height: 37px;
  background-color: #4bb0ff;
  opacity: 0.7;
}

.right-icon-18 {
  @extend .right-icon;
  font-size: 18px;
  height: 18px;
}

.right-icon-18-padding {
  @extend .right-icon-18;
  padding-right: 40px;
}

.red-right-icon-18 {
  @extend .right-icon-18;
  color: red;
  cursor: pointer;
}

.mat-column-source_value, .mat-column-concept_id, .mat-column-type_concept_id, .mat-column-source_concept_id {
  width: 105px;
}

.mat-column-remove_concept {
  width: 5px;
  padding-right: 0 !important;
}

.table-container {
  max-height: 150px;
  overflow: overlay;
  width: 100%;
  border-radius: 0.3em;
  @include grid-scroll();
}

.sql-container {
  position: relative;

  &.disabled {
    opacity: .4;
  }

  &__blocker {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.mat-slide-toggle {
  margin-top: 14px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;

  button {
    @include cdm-button();
    width: 80px;
    height: 33px;
  }

  .button-cancel {
    margin-right: 15px;
  }
}
