@import "variables";

$row-height: 32px;
$header-border: 1px solid rgba(230, 230, 230, .2);

.grid-wrapper {
  position: relative;

  .ui-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #9b9b9b;
    opacity: 0.35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  margin-top: 12px;
  min-width: 1064px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }

  &::-webkit-scrollbar-thumb {
    height: 5px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }

  .row {
    display: flex;
    min-height: $row-height;
    border-left: $header-border;
    width: auto;

    &.header {
      position: sticky;
      top: 0;
      background-color: #404040;
      border-top: $header-border;

      .column {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;

        svg {
          cursor: pointer;
          display: none;
        }

        &:hover {
          svg {
            display: block;
          }
        }

        &.sortable-asc,
        &.sortable-desc {
          svg {
            display: block;
          }
        }

        &.sortable-asc {
          svg {
            transform: rotate(270deg);
          }
        }
      }

      .cell {
        border: $header-border;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #fff;;
      }
    }

    &.error-row {
      height: 100%;
      display: flex;
      color: red;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(2n) {
      background-color: #fff;
    }

    background-color: rgba(6, 107, 187, 0.05);

    .cell {
      flex: 1 1 0;
      word-wrap: break-word;
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      border-top: none;
      border-left: none;
      min-height: $row-height;
      display: flex;
      align-items: center;
      padding: 8px 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #404040;
    }
  }
}
