<div class="grid-wrapper">
  <div class="grid" [style.height]="height">
    <div class="row header">
      <div *ngFor="let column of columns"
           class="column cell"
           [className]="column.className"
           [ngClass]="{'sortable-asc': column.field === sort?.field && sort.order === 'asc',
               'sortable-desc': column.field === sort?.field && sort.order === 'desc'}">
        {{column.name}}
        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"
             [attr.data-sortField]="column.field">
          <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"
                [attr.data-sortField]="column.field"/>
        </svg>
      </div>
    </div>

    <div *ngFor="let row of data" class="row">
      <div *ngFor="let column of columns" class="cell id">
        {{row[column.field]}}
      </div>
    </div>

    <div *ngIf="error" class="row error-row">{{error}}</div>
  </div>

  <div *ngIf="requestInProgress" class="ui-blocker">
    <mat-spinner></mat-spinner>
  </div>
</div>
