@import "variables";
@import "mixins";

$row-height: 32px;

.grid, .row, .cell {
  border: 1px solid #E6E6E6;
}

.header, .column {
  border: 1px solid rgba(230, 230, 230, .2);
}


.grid-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  overflow-y: overlay;
  border-radius: 2px;
  @include grid-scroll();

  .ui-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #9b9b9b;
    opacity: 0.35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  min-width: 100%;
  border-spacing: 0;

  .row {
    min-height: $row-height;
    width: auto;

    &.header {
      .column {
        padding-right: 10px;
        background-color: #404040;
      }

      .cell {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #fff;;
      }
    }

    &:nth-child(2n) {
      background-color: #fff;
    }

    background-color: rgba(6, 107, 187, 0.05);

    .cell {
      word-wrap: break-word;
      overflow: hidden;
      box-sizing: border-box;
      min-height: $row-height;
      padding: 7px 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #404040;

      &.select-cell {
        padding: 7px 6px;
      }
    }
  }
}
