@import "variables";
@import "mixins";

.column-mapping {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  &__control {
    @include perseus-control();
    @include form-control();

    margin-bottom: 20px;
  }
}
