@import "mixins";
@import "variables";

:host {
  @include transformation-function();
}

.switch-case {
  &.toolbar {
    @include transformation-function-toolbar();
  }

  &.grid-wrapper {
    margin-top: 15px;
    width: 480px;
    height: 100%;
    box-sizing: border-box;

    .grid {
      height: 100%;
    }

    input {
      @include cdm-input();
      background: none;
      width: 100%;
      height: 100%;
      border-bottom: none;
      padding: 0;

      &:disabled {
        color: rgba(64, 64, 64, 0.4);
      }
    }
  }

  &__button {
    @include cdm-button();
    color: $cdm-blue;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-right: 20px;
    background: none;

    &.disabled {
      color: rgba(6, 107, 187, 0.4);
    }
  }
}

.row {
  height: 32px;
}

.cell {
  width: 240px;
  height: 32px;
  padding: 6px 10px;

  &.last-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
