// CUSTOM_THEME

@import '~@angular/material/_theming';

$my-theme-primary: mat-palette($mat-gray, 900);
$my-theme-accent : mat-palette($mat-light-blue, A700);
$my-theme-warn   : mat-palette($mat-red);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include mat-core();
@include angular-material-theme($my-theme);