<form class="column-mapping-form" [formGroup]="form">
  <mat-form-field class="column-mapping-form__control" floatLabel="never" appearance="none">
    <label>Source code column</label>
    <mat-select formControlName="sourceCode">
      <mat-option *ngFor="let column of columns" [value]="column.field">
        {{column.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="column-mapping-form__control" floatLabel="never" appearance="none">
    <label>Source name column</label><label class="required">*</label>
    <mat-select formControlName="sourceName">
      <mat-option *ngFor="let column of columns" [value]="column.field">
        {{column.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="column-mapping-form__control" floatLabel="never" appearance="none">
    <label>Source frequency column</label>
    <mat-select formControlName="sourceFrequency">
      <mat-option *ngFor="let column of columns" [value]="column.field">
        {{column.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="column-mapping-form__control" floatLabel="never" appearance="none">
    <label>Column Type</label>
    <mat-select formControlName="columnType">
      <mat-option *ngFor="let column of columnTypes" [value]="column.field">
        {{column.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="column-mapping-form__control" floatLabel="never" appearance="none">
    <label>Auto concept ID column</label>
    <mat-select formControlName="autoConceptId">
      <mat-option *ngFor="let column of columns" [value]="column.field">
        {{column.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="column-mapping-form__control" floatLabel="never" appearance="none">
    <label>Additional info column</label>
    <mat-select formControlName="additionalInfo">
      <mat-option *ngFor="let column of columns" [value]="column.field">
        {{column.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
