<div class="apply-transformation">
  <app-close-dialog-button class="apply-transformation__close" (click)="dialogRef.close()"></app-close-dialog-button>

  <div class="apply-transformation__header">
    Apply Transformation <span>{{ titleInfo }}</span>
  </div>

  <div class="apply-transformation__content">
    <mat-tab-group [(selectedIndex)]="tabIndex">
      <mat-tab label="SQL FUNCTION">
        <app-new-sql-transformation #sqlTransformationComponent
                                    [sql]="sql"
                                    [sourceFields]="sourceFields"></app-new-sql-transformation>
      </mat-tab>

      <mat-tab label="LOOKUP" [disabled]="lookupDisabled">
        <app-lookup [lookupType]="lookupType"
                    [lookup]="lookup"
                    [name]="lookupName"
                    notConceptTableField="true"></app-lookup>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="apply-transformation__footer">
    <button (click)="closeDialog()" class="cancel">Cancel</button>
    <button (click)="onApply()" [disabled]="applyDisabled()" class="apply">Apply</button>
  </div>
</div>
