<div class="scan-data-form">
  <div class="scan-data-form__progress-bar" *ngIf="connecting">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="scan-data-form__content">
    <app-connect-form [dataType]="dataType"
                      [dbSettings]="dbSettings"
                      [fileSettings]="fileSettings"
                      [connectionResult]="connectionResult"
                      [filesToScan]="filesToScan"
                      (testConnection)="onTestConnection($event)"
                      (connectionPropsChanged)="reset()"></app-connect-form>

    <app-tables-to-scan [scanParams]="scanParams"
                        [tablesToScan]="tablesToScan"
                        [filteredTablesToScan]="filteredTablesToScan"
                        [connectionResult]="connectionResult"></app-tables-to-scan>
  </div>

  <div class="scan-data-form__action">
    <button class="scan-data-form__action-cancel cancel" (click)="cancel.emit()">Cancel</button>
    <button class="scan-data-form__action-scan confirm"
            [disabled]="tablesToScan.length === 0"
            (click)="onScanTables()">Scan Tables</button>
  </div>
</div>
