<div class="fake-data-form">

  <form [formGroup]="form">
    <div class="fake-data-form__control scan-data-form-control">
      <label for="max_row">Max Row per Table</label>
      <input id="max_row" type="number" formControlName="maxRowCount">
    </div>

    <div class="fake-data-form__control checkbox">
      <app-cdm-checkbox [background]="checkboxBackground" formControlName="doUniformSampling"></app-cdm-checkbox>
      <label [matTooltip]="uniformSamplingTooltip">Uniform sampling</label>
    </div>
  </form>

  <div class="fake-data-form__action">
    <button class="fake-data-form__action-cancel cancel" (click)="cancel.emit()">Cancel</button>
    <button class="fake-data-form__action-confirm confirm" [disabled]="form.invalid" (click)="generate.emit(form.value)">Generate</button>
  </div>
</div>
