.scan-step {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22px;
  height: 22px;

  background: #066BBB;
  border-radius: 2px;

  margin-right: 8px;

  &__number {
    font-size: 14px;
    line-height: 15px;

    color: #FFFFFF;
  }

  &.disconnected {
    background: #D4D4D4;
  }
}
