@import "mixins";

button {
  @include cmd-button();

  &.confirm {
    background: #066BBB;
    color: #FFFFFF;

    &:disabled {
      cursor: default;
    }
  }

  &.cancel {
    background: #E5E5E5;
    color: #404040;
  }
}
