.scan-dialog {
  background: #F9F9F9;
  border-radius: 2px;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 23px;

    &-close {
      position: relative;
      bottom: 18px;
      left: 7px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #404040;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}
