@import "mixins";

.scan-data-form-control {
  label {
    @include cdm-label();
  }

  input, .mat-select {
    @include cdm-input();
  }

  &.disabled {
    label {
      opacity: 0.6;
    }

    input {
      opacity: 0.6;
      border-bottom: 1px solid #808080;
    }
  }
}
