.scan-data-form-control {
  label {
    font-size: 12px;
    line-height: 15px;
    color: #808080;
  }

  input, .mat-select {
    border: 0;
    border-bottom: 1px solid #2C2C2C;
    padding: 5px 0;

    font-size: 14px;
    line-height: 15px;
    color: #404040;

    &:focus {
      outline: none;
    }
  }

  &.disabled {
    label {
      opacity: 0.6;
    }

    input {
      opacity: 0.6;
      border-bottom: 1px solid #808080;
    }
  }
}
