<div class="lookup">
  <div class="stage">
    <div class="stage-header">
      <div class="stage-number">1</div>
      <span class="stage-title">Select Lookup</span>
    </div>
    <div class="stage-body"
    [class.invalid-with-border]="lookup['value'] === ''">
      <mat-form-field class="select-lookup" appearance="fill">
        <mat-label>Select Lookup</mat-label>
        <mat-select (selectionChange)="selectLookup($event)" [(value)]="selected">
          <mat-option *ngFor="let item of items; index as i"
                      [value]="item">
            {{item.split('.')[0]}}
            <mat-icon svgIcon="delete"
                      (click)="delete($event, item, i)"
                      *ngIf="item.includes('userDefined')"></mat-icon>
            <mat-icon svgIcon="edit"
                      (click)="edit($event, item)"
                      *ngIf="item.includes('userDefined')"></mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex-div">
      <div class="preview-title">SQL Preview</div>
      <div class="invalid-label" *ngIf="lookup['value'] === ''"> &mdash; Please type SQL here</div>
      </div>
      <mat-expansion-panel [class.hidden]="!selected" class="select-preview">
        <mat-expansion-panel-header>
          <mat-panel-title>{{lookupType | prettyName}}</mat-panel-title>
        </mat-expansion-panel-header>
        <textarea #disabledEditor disabled></textarea>
      </mat-expansion-panel>
      <textarea #editor class="ened"></textarea>
    </div>
  </div>
  <div class="stage" *ngIf="editMode">
    <div class="stage-header">
      <div class="stage-number">2</div>
      <span class="stage-title">Set name for modified lookup</span>
    </div>
    <mat-form-field
      class="lookup-name"
      appearance="fill"
      [ngClass]="{'invalid-name': lookup['name'] === '.userDefined'}">
      <mat-label>
        <mat-label>Lookup Name</mat-label>
        <mat-label class="invalid-label" *ngIf="lookup['name'] === '.userDefined'">&mdash; Please set name</mat-label>
      </mat-label>
      <input
        matInput
        (input)="onChangeName($event)"
        [value]="selected.split('.')[0]"
      >
    </mat-form-field>
  </div>
</div>
