.scan-dialog__header {
    &-settings-icon {
        &--active, &:hover {
          color: #066BBB;
          cursor: pointer;
        }
    }
}

.scrolled-items {
  height: calc(56vh - 260px);
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 8px;
}

.settings-list {
  font-size: 12px;
  color: #404040;
  list-style: none;
  padding: 0;

  &__date-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__number {
    display: flex;
    flex-direction: column;

    &-label {
      color: #808080;
      font-size: 12px;
      font-weight: 100;
    }

    &-input {
      border: 0;
      border-bottom: 1px solid #2C2C2C;
      outline: none;
    }

    &--date {
      width: 45%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #066bbb1a;

    &-title {
      font-weight: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &--active {
        font-weight: bold;
      }
    }

    &-arrow {
      color: #066BBB;
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
      margin: 0 4px;

      &:hover {
        cursor: pointer;
      }

      &--active {
        transform: rotate(180deg);
      }
    }
  }
}

.settings-details {
  &__item {
    padding-left: 10px;
  }
}

