<div #settings class="scan-dialog__header-settings">
    <mat-icon
        #settingsBtn
        class="scan-dialog__header-settings-icon"
        [ngClass]="{'scan-dialog__header-settings-icon--active': showSettings}"
        svgIcon="settings">
    </mat-icon>

    <app-popup *ngIf="showSettings">
        <div>
            <h4>{{popupTitle}}</h4>
            <app-search-by-name
                placeholder={{searchPlaceholder}}
                [criteria]="query"
                (complete)="filterByName($event)"
                (reset)="resetFilter()"
                >
            </app-search-by-name>
            <ul *ngIf="filteredTables.length > 0">
                <li *ngFor="let table of filteredTables">
                    {{table.name}}
                </li>
            </ul>
        </div>
    </app-popup>
</div>