@import 'src/app/styles/variables.scss';

.center-content {
  display: flex;
  justify-content: center;
}

.rules-content{
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transformation-chip {
  width:auto !important;
}

.dialog {
    background-color: $cdm-grey-lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -9px;
        width: 0;
        height: 0;
        box-sizing: border-box;
        border: 7px solid $black;
        border-color:  $cdm-grey-lighter transparent transparent $cdm-grey-lighter;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.1);
    }

    mat-radio-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 35%;
        font-size: 13px;

        .mat-radio-container,
        .mat-radio-outer-circle,
        .mat-radio-inner-circle {
            width: 15px;
            height: 15px;
        }
    }


    .button-group {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 32px;

        button {
            font-size: 13px;
        }

        .delete {
            color: #FF4646;
        }
        .apply {
            color: #066BBB;
        }
    }
}

.dialog-header {
  display: flex;
  justify-content: center;
}
