<form [formGroup]="form" style="height: 100%;">
  <div class="scan-data-connect-form-control scan-data-form-control" [ngClass]="{'disabled': form.get('server').disabled}">
    <label for="server">Server location</label>
    <input class="test" type="text" id="server" formControlName="server">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control" [ngClass]="{'disabled': form.get('user').disabled}">
    <label for="username">User name</label>
    <input id="username" type="text" formControlName="user">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control" [ngClass]="{'disabled': form.get('password').disabled}">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
  </div>

  <div class="scan-data-connect-form-control scan-data-form-control" [ngClass]="{'disabled': form.get('database').disabled}">
    <label for="dbName">Database Name</label>
    <input id="dbName" type="text" formControlName="database">
  </div>
</form>
