.vocabulary-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none !important;
  text-align: center;
  color: #066BBB;
  width: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  height: 33px;
  outline: none;
  cursor: pointer;
}
