@import "variables";

:host {
  display: block;
}

label {
  display: block;
  color: $grey;
}

section:nth-of-type(2) {
  margin-bottom: 20px;
}

.table-box {
  text-transform: uppercase;
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.table-name {
  width: 500px;
  height: 85px;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;

  .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.mat-chip {
  cursor: pointer;
}

.view-name-invalid {
  color: red;
}
