<div class="cdm-form">
  <div class="cdm-form__content">
    <app-cdm-source-form [dbSettings]="sourceDbSettings"
                         [fakeDataParams]="fakeDataParams"
                         [dataType]="sourceDataType"
                         (generateFakeData)="generateFakeData.emit($event)"></app-cdm-source-form>

    <app-cdm-destination-form [dbSettings]="destinationDbSettings"
                              [dataType]="destinationDataType"></app-cdm-destination-form>
  </div>

  <div class="cdm-form__action">
    <button class="cdm-form__action-cancel cancel" (click)="cancel.emit()">Cancel</button>
    <button class="cdm-form__action-convert confirm"
            (click)="onConvert()"
            [class.btn-spinner]="cdmButtonsService.converting"
            [disabled]="convertBtnDisabled">Convert</button>
  </div>
</div>
