<div class="dqd-connection">
  <div class="dqd-connection__content">
    <div class="connect-progress-bar" *ngIf="tryConnect">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <form class="dqd-connection__content-form" [formGroup]="form">
      <mat-form-field class="scan-data-connect-form-control scan-data-form-control" floatLabel="never" appearance="none">
        <label>Data type</label>
        <mat-select formControlName="dbType">
          <mat-option *ngFor="let type of dataTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="scan-data-connect-form-control scan-data-form-control">
        <label for="server">Server location</label>
        <input class="test" type="text" id="server" formControlName="server">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control">
        <label for="port">Port</label>
        <input id="port" type="number" formControlName="port">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control">
        <label for="username">User name</label>
        <input id="username" type="text" formControlName="user">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control">
        <label for="dbName">Database Name</label>
        <input id="dbName" type="text" formControlName="database">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control">
        <label for="schema">Schema Name</label>
        <input id="schema" type="text" formControlName="schema">
      </div>
    </form>

    <app-test-connection (testConnection)="onTestConnection()"
                         [connectionResult]="connectionResult"
                         [disabled]="isCheckAndTestButtonDisabled"></app-test-connection>
  </div>

  <div class="dqd-connection__action">
    <button class="dqd-connection__action-cancel cancel"
            (click)="onCancel()">Cancel</button>
    <button class="dqd-connection__action-convert confirm"
            (click)="onCheck()"
            [disabled]="isCheckAndTestButtonDisabled">Check</button>
  </div>
</div>
