<div class="dqd-connection">
  <div class="dqd-connection__content">
    <div class="connect-progress-bar" *ngIf="tryConnect">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <form class="dqd-connection__content-form" [formGroup]="form">
      <mat-form-field class="scan-data-connect-form-control scan-data-form-control" floatLabel="never" appearance="none">
        <label>Data type</label>
        <mat-select formControlName="dbType">
          <mat-option *ngFor="let type of dataTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="scan-data-connect-form-control scan-data-form-control"
           [ngClass]="{'disabled': form.get('server').disabled}">
        <label for="server">Server location</label>
        <input id="server" type="text" formControlName="server" trim="blur">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control"
           [ngClass]="{'disabled': form.get('port').disabled}">
        <label for="port">Port</label>
        <input id="port" type="number" formControlName="port">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control"
           [ngClass]="{'disabled': form.get('user').disabled}">
        <label for="user">User name</label>
        <input id="user" type="text" formControlName="user" trim="blur">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control"
           [ngClass]="{'disabled': form.get('password').disabled}">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" autocomplete="on">
      </div>

      <div class="scan-data-connect-form-control scan-data-form-control"
           [ngClass]="{'disabled': form.get('database').disabled}">
        <label for="database">Database Name</label>
        <input id="database" type="text" formControlName="database" trim="blur">
      </div>

      <div *ngIf="requireSchema" class="scan-data-connect-form-control scan-data-form-control"
           [ngClass]="{'disabled': form.get('schema').disabled}">
        <label for="schema">Schema Name</label>
        <input id="schema" type="text" formControlName="schema" trim="blur">
      </div>
    </form>

    <app-test-connection (testConnection)="onTestConnection()"
                         [connectionResult]="connectionResult"
                         [disabled]="isCheckAndTestButtonDisabled"></app-test-connection>
  </div>
  <div class="dqd-connection__bottom-border"></div>

  <div class="dqd-connection__action">
    <button class="dqd-connection__action-cancel cancel"
            (click)="onCancel()">Cancel</button>
    <button class="dqd-connection__action-convert confirm"
            (click)="onCheck()"
            [disabled]="isCheckAndTestButtonDisabled">Check</button>
  </div>
</div>
