.dqd-connection {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 495px;
    border: 1px solid rgba(#066BBB, 0.1);
    border-radius: 2px;

    &-form {
      width: 100%;
      height: 425px;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    height: 33px;

    &-cancel {
      width: 80px;
      margin-right: 15px;
    }

    &-convert {
      width: 80px;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
