<div class="scan-data-progress">
  <div class="scan-data-progress__bar mat-app-background">
    <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
  </div>

  <div class="scan-data-progress__content">
    <p>Console</p>
    <div class="scan-data-progress__content-console">
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p><p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
      <p>Nov 12, 2020 7:54:29 PM    Started new scan of 19 tables...</p>
      <p>Nov 12, 2020 7:54:29 PM    Scanning table dbo._chunks</p>
      <p>Stopped after 100000 rows</p>
    </div>
  </div>

  <div class="scan-data-progress__action">
    <button class="scan-data-progress__action-abort-and-cancel">Abort and cancel</button>
  </div>
</div>
