@import "variables";

.lookup {
  margin-bottom: 30px;
  background: #f9f9f9;
}

.mat-option .mat-icon {
  font-size: 14px;
  height: 16px;
  cursor: pointer;
  float: right;
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 0 !important;
}

.hidden {
  display: none !important;
}

.stage {
  border: 1px solid rgba(6, 107, 187, 0.1);
  border-radius: 2px;

  &.stage-2 {
    margin-top: 9px;
  }

  .stage-header {
    border-bottom: 1px solid rgba(6, 107, 187, 0.1);
    padding: 10px;

    .stage-number {
      width: 22px;
      height: 22px;
      border-radius: 2px;
      background-color: $blue;
      color: $white;
      text-align: center;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .stage-title {
      margin-left: 10px;
    }
  }

  .lookup-name {
    width: 50%;
    margin-left: 10px;

    .mat-form-field-wrapper .mat-form-field-flex {
      background-color: transparent;
      height: 32px;
    }
  }

  .stage-body {
    padding: 9px;

    .select-lookup {
      width: 50%;
      margin-left: 10px;
    }

    .lookup-type-params {
      margin-left: -10px;
      margin-bottom: 5px;
      padding-right: 9px;

      mat-radio-button {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .preview-title {
      margin-bottom: 10px;
    }

    .flex-div {
      display: flex;
      padding-top: 10px;
    }

    .select-preview {
      box-shadow: none;
      background-color: transparent;
      border-top: 1px solid rgba(6, 107, 187, 0.1);
      border-bottom: 1px solid rgba(6, 107, 187, 0.1);
      border-radius: 0;

      .mat-expansion-panel-header {
        height: 30px !important;
        padding: 0 10px 0 10px;

        .mat-expansion-indicator::after {
          padding: 0;
          transform: none;
          border-color: $blue transparent transparent transparent;
          border-style: solid;
          border-width: 5px;
          vertical-align: middle;
        }

        .mat-expansion-panel-header-title {
          color: $cdm-grey-dark;
          font-weight: 300;
        }
      }

      .CodeMirror.cm-s-default {
        border: none;
        box-shadow: none;
        background: transparent;
        padding: 0;
        margin: 10px;
      }
    }

    .CodeMirror.cm-s-default {
      border: none;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      background: $white;
      padding: 10px;
      margin: 10px;
      height: 150px;
    }
  }
}

.invalid-label {
  padding-left: 5px;
  font-style: italic;
  color: red;
}

.invalid-name {
  .mat-form-field-wrapper .mat-form-field-underline::before {
    background-color: red !important;
  }
  .mat-form-field-wrapper .mat-form-field-ripple {
    background-color: red !important;
  }
}
