@import "variables";
@import "mixins";

:host {
  position: relative;
}

.dialog {
  position: relative;
  left: 12px;
  bottom: 1px;
  width: auto;
  height: auto;
  background-color: $cdm-grey-lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

  &:after {
    @include overlay-border-arrow();
    right: 5px;
    bottom: -4px;
    border-color: transparent #f9f9f9 #f9f9f9 transparent;
    transform: rotate(45deg);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  }

  .type-div {
    padding: 20px;
    min-width: 150px;
    height: 150px;
  }

  .header {
    width: 100%;
    font-size: 14px;
  }
}
