<div class="dialog">
    <div class="type-div">
        <h4 class="header">Transformation</h4>
        <app-transformation-type [typeName]="sqlLabel"
                                 [data]="payload.arrow.sql"
                                 (selectedType)="openSqlFunctionDialog()"
                                 (toggleCheckbox)="toggleSqlCheckbox()">
        </app-transformation-type>

        <app-transformation-type [typeName]="lookupLabel"
                                 [data]="payload.arrow.lookup"
                                 [isDisabled]="isDisabledLookup"
                                 (selectedType)="openLookupDialog()"
                                 (toggleCheckbox)="toggleLookupCheckbox()">
        </app-transformation-type>
    </div>
</div>
