<div class="save-mappings">
  <div class="save-configuration" *ngIf="action==='save'">
    <mat-form-field [floatLabel]="'never'">
      <input
        matInput
        placeholder="enter configuration name"
        [formControl]="configurationControl"
        style="width:100%"
        [type]="'text'"
        cdkFocusInitial
      />
    </mat-form-field>
  </div>
  <mat-form-field [floatLabel]="'never'" class="mapping-dropdown" *ngIf="action==='open'">
    <mat-select
      placeholder="select a configuration"
      [formControl]="formControl"
      (openedChange)="openedChangeHandler($event)"
    >
      <mat-select-trigger>
        {{ formControl.value }}
        <span> (total {{ configurations.length }}) </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let configuration of configurations"
        [value]="configuration.name"
        (onSelectionChange)="onOpenConfiguration(configuration)"
      >
        {{ configuration.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
