<button mat-icon-button (click)="saveConfiguration()">
  <mat-icon>save</mat-icon>
</button>
<mat-form-field class="type-filter" [floatLabel]="'never'">
  <mat-select
    placeholder="select a mapping"
    [formControl]="formControl"
    (openedChange)="openedChangeHandler($event)"
  >
    <mat-select-trigger>
      Hello
      <span>
        Wizard
      </span>
    </mat-select-trigger>
    <mat-option
      *ngFor="let configuration of configurations"
      [value]="configuration.name"
      (onSelectionChange)="onOpenConfiguration($event, configuration)"
    >
      {{ configuration.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
