@import 'src/app/styles/variables.scss';

.dialog:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 1px;
    width: 0;
    height: 0;
    box-sizing: border-box;
    
    border: 7px solid black;
    border-color: transparent transparent white white;
    
    transform-origin: 0 0;
    transform: rotate(45deg);
    
    box-shadow: -1px 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.dialog {
    width: 224px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px !important;


    mat-icon {   
         font-size: 13px;
    }

    .input {
        border-radius: 2px;
        border: 0.75px solid #BDBDBD;
        height: 25px;

        &-add {
            width: 224px;
        }

        &-edit {
            width: 208px;
        }

        &::placeholder {
            color: #808080;
            font-size: 13px;
        }
    }

    .button-add {
        padding: 0;
        min-width: 0;
    }

    .mat-list {
        width: 100%;

        .list-item-read {
            &:hover {
                background-color: #DCECF9;
            }
        }

        .list-item-edit {
            .mat-list-item-content {
                height: 81px;
            }
        }
    }

    .mat-list-item {
        height: 100% !important;
        background-color: #EEEEEE;
        margin-bottom: 5px;

        .mat-list-item-content {
            padding: 0 10px;
        }
    }
}

.comment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment-read {
    &-head {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #808080;
    }

    &-body {
        width: 100%;
        word-break: break-word;
    }

    &-date {
        font-size: 12px;
    }

    &-text {
        font-size: 13px;
    }

    &-head-buttons button {
        width: 20px;
    }
}

.comment-edit {
    &-head {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #808080;
        margin: 4px 0;
    }

    &-body {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-date {
        font-size: 12px;
    }

    &-head-buttons button {
        width: 20px;
    }

    &-foot-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -4px;

        button {
            width: 20px;
        }
    }
}

