<div class="sql-transformation">
  <div class="sql-transformation__mode">
    <label>
      <input type="radio" value="visual" [ngModel]="mode" (ngModelChange)="onModeChange($event)">
      Visual
    </label>

    <label>
      <input type="radio" value="manual" [ngModel]="mode" (ngModelChange)="onModeChange($event)">
      Manual
    </label>
    <app-hint class="sql-transformation__mode__hint" key="sqlTransformation"></app-hint>
  </div>

  <ng-container [ngSwitch]="mode">
    <ng-template ngSwitchCase="visual">
      <app-visual-transformation #visualTransformation
                                 [functionsState]="sql.functions"
                                 [functionsHeight]="functionsHeight"
                                 [sourceFields]="sourceFields"></app-visual-transformation>
    </ng-template>

    <ng-template ngSwitchCase="manual">
      <app-manual-transformation #manualTransformation
                                 [sql]="sql"></app-manual-transformation>
    </ng-template>
  </ng-container>
</div>
