<!-- SHOW SELECTED TRANSFORMAIONS -->
<mat-card class="dialog">
  <mat-card-header>
    <mat-card-title>Apply transformation to </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle class="center-content">
    {{ targetColumnName }}
  </mat-card-subtitle>
  <mat-card-content class="rules-content">
    <app-transformation-input (apply)="onTransformSelected($event)">
    </app-transformation-input>
    <div class="applyed-content">
      <p>Transformations:</p>
      <div class="transformation" *ngFor="let item of applyedCriteria">
        {{item}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="center-content">
    <button mat-button (click)="apply()">APPLY</button>
    <button mat-button (click)="deleteLink()">DELETE</button>
  </mat-card-actions>
</mat-card>
