@import 'src/app/styles/variables.scss';

.dialog {
    width: 460px;
    height: 182px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -9px;
        width: 0;
        height: 0;
        box-sizing: border-box;
        border: 7px solid $black;
        border-color:  #F9F9F9 transparent transparent #F9F9F9;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.1);
    }
}