<app-search-by-name class="mapping-filter-by-name {{area}} panel-filter"
                    placeholder="Search by {{area}} fields"
                    [criteria]="searchCriteria"
                    (complete)="filterByName($event)"
                    (reset)="filterByNameReset($event)">
</app-search-by-name>

<div *ngIf="area === 'source'" class="panel-options min-height-25">
  <div class="create-group flex-div" *ngIf="table.name !== 'similar'">
    <a id="createGroup"
       (click)="createGroup()"
       [ngClass]="{'create-group-disabled': this.panel?.rowFocusedElements?.length < 2}">
      Create Group
    </a>
    <app-hint key="createGroup"></app-hint>
  </div>
</div>

<div *ngIf="area === 'target'" class="panel-options min-height-25">
  <ng-container *ngIf="table.name !== 'similar' && oppositeTableName">
    <div class="flex-div-align-center"
         *ngIf="existingClones && existingClones.length">
      <div id="clonesDropdown">{{table.cloneName}}</div>
      <mat-icon *ngIf="existingClones.length > 1"
                (click)="openClonesDropdown($event.target)">arrow_drop_down</mat-icon>
    </div>

    <div class="add-condition-or-clone">
      <a id="clone" (click)="createClone()">
        Clone
      </a>
      <app-hint key="clone"></app-hint>

      <a id="condition" class="condition" (click)="openConditionDialog()">
        {{table.condition? "Modify Condition": "Add Condition"}}
      </a>
      <app-hint key="addCondition"></app-hint>
    </div>
  </ng-container>
</div>

<app-area [area]="area">
  <app-panel-table #panel
                   createGroupElementId="createGroup"
                   [table]="table"
                   [tables]="tables"
                   [tabIndex]="tabIndex"
                   [filtered]="filtered"
                   [filteredFields]="filteredFields"
                   [oppositeTableId]="oppositeTableId"
                   [oppositeTableName]="oppositeTableName"
                   [mappingConfig]="mappingConfig"
                   [selectedSourceTableId]="selectedSourceTableId"
                   [selectedTargetTableId]="selectedTargetTableId"
                   [sourceSimilarTableId]="sourceSimilarTableId"
                   [targetSimilarTableId]="targetSimilarTableId"
                   (openTransform)="onOpenTransfromDialog($event)">
  </app-panel-table>
</app-area>
