<div class="save-vocabulary" [class.spinner]="loading">
  <app-close-dialog-button class="save-vocabulary__close-icon" (click)="dialogRef.close()"></app-close-dialog-button>

  <h4 class="save-vocabulary__header">Save Vocabulary</h4>

  <div class="save-vocabulary__form">
    <div class="save-vocabulary__form__control">
      <label for="delimiter">Vocabulary Name</label>
      <input #name id="delimiter" type="text" maxlength="20" [ngModel]="vocabularyName">
    </div>

    <div class="save-vocabulary__form__submit">
      <button class="cancel" (click)="this.dialogRef.close()">Cancel</button>
      <button class="apply" [disabled]="!name.value" (click)="onApply(name.value)">Apply</button>
    </div>
  </div>
</div>
