@import "mixins";

.match-score-grid {
  position: relative;
  height: 100%;

  .grid-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 100%;

    .match-score-grid-wrapper,
    .target-grid-wrapper {
      overflow-y: overlay;
      overflow-x: hidden;
    }

    .source-grid-wrapper {
      width: calc(44% - 100px); // 100px - match score grid width (91px) + margin (9px)
      overflow-x: overlay;
      @include grid-scroll();
    }

    .source-grid-wrapper,
    .match-score-grid-wrapper {
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .match-score-grid-wrapper {
      width: 91px;
    }

    .target-grid-wrapper {
      width: calc(56% - 9px); // 9px - margin
      @include grid-scroll();
    }

    .source-grid,
    .match-score-grid,
    .target-grid {
      width: 100%;
    }

    .match-score-column,
    .match-score-cell {
      margin-right: 9px;
    }

    .match-score-cell {
      background-color: rgba(0, 146, 15, .1);
    }

    .header {
      height: 32px;
    }

    .target-row {
      height: 34px;
    }

    .edit-cell {
      min-width: 36px;
      border-right: none;
      border-right: none;

      & .edit-icon {
        display: none;
        width: 15px;
        height: 15px;
        cursor: pointer;
        z-index: 1000;
      }

      &:hover .edit-icon {
        display: block;
      }

      & + td,
      & + th {
        border-left: none;
        padding-left: 0;
      }
    }

    .cell {
      white-space: nowrap;
    }
  }

  .grid-selection-hide {
    width: 100%;
    height: 35px;
    z-index: 100;
    position: absolute;
    background-color: #fff;
  }

  .grid-select {
    position: absolute;
    width: calc(100% - 1px);
    border: 1px solid #066BBB;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 99;
  }
}
