<div class="match-score-grid">
  <div class="grid-wrapper" (mouseover)="onMouseover($event)">
    <div class="source-grid-wrapper"
         #sourceGridWrapper
         (wheel)="onWheel($event)">
      <table class="grid source-grid"
             cdk-table
             [dataSource]="sourceData"
             [trackBy]="trackCodeMappings.bind(this)"
             [style.height]="height">

        <ng-container cdkColumnDef="__select__" sticky="true">
          <th class="column cell select-cell" cdk-header-cell *cdkHeaderCellDef>
            <app-grid-checkbox [checked]="checkedAll" (click)="selectAll()"></app-grid-checkbox>
          </th>

          <td class="cell select-cell" cdk-cell data-cell *cdkCellDef="let row">
            <app-grid-checkbox [checked]="row.approved" (click)="select(row)"></app-grid-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let sourceColumn of sourceColumns"
                      [cdkColumnDef]="sourceColumn.field">
          <th class="column cell" cdk-header-cell *cdkHeaderCellDef>
            {{sourceColumn.name}}
          </th>

          <td class="cell" cdk-cell data-cell *cdkCellDef="let codeMapping" [class.term-cell]="isTermColumn(sourceColumn.field)">
            {{codeMapping.sourceCode.code[sourceColumn.field]}}
          </td>
        </ng-container>

        <tr class="row header" cdk-header-row data-grid-header *cdkHeaderRowDef="sourceDisplayedColumns; sticky: true"></tr>
        <tr class="row" cdk-row data-grid-row *cdkRowDef="let row; columns: sourceDisplayedColumns; let i = index"
            data-source-row
            [attr.data-row]="i"
            [style.height.px]="rowHeight(i)"></tr>
      </table>
    </div>

    <div class="match-score-grid-wrapper"
         #matchScoreGridWrapper
         (wheel)="onWheel($event)">
      <table class="grid match-score-grid"
             cdk-table
             [dataSource]="matchScoreData"
             [style.height]="height">

        <ng-container cdkColumnDef="matchScore">
          <th class="column cell match-score-column" cdk-header-cell *cdkHeaderCellDef>
            Match Score
          </th>

          <td class="cell match-score-cell" cdk-cell data-cell *cdkCellDef="let matchScore">
            {{matchScore}}
          </td>
        </ng-container>

        <tr class="row header" cdk-header-row *cdkHeaderRowDef="matchScoreDisplayedColumns; sticky: true"></tr>
        <tr class="row" cdk-row *cdkRowDef="let row; columns: matchScoreDisplayedColumns; let i = index"
            [attr.data-row]="i"
            [style.height.px]="rowHeight(i)"></tr>
      </table>
    </div>

    <div class="target-grid-wrapper"
         #targetGridWrapper
         (wheel)="onWheel($event)">
      <table class="grid target-grid"
             cdk-table
             [dataSource]="targetData"
             [style.height]="height"
             [trackBy]="trackConcepts">

        <ng-container cdkColumnDef="__edit__">
          <th class="column cell edit-cell" cdk-header-cell *cdkHeaderCellDef></th>

          <td class="cell edit-cell" cdk-cell data-cell *cdkCellDef></td>
        </ng-container>

        <ng-container *ngFor="let targetColumn of targetColumns"
                      [cdkColumnDef]="targetColumn.field">
          <th class="column cell" cdk-header-cell *cdkHeaderCellDef>
            {{targetColumn.name}}
          </th>

          <td class="cell" cdk-cell data-cell *cdkCellDef="let targetConcept">
            {{targetConcept[targetColumn.field]}}
          </td>
        </ng-container>

        <tr class="row header" cdk-header-row *cdkHeaderRowDef="targetDisplayedColumns; sticky: true"></tr>
        <tr class="row target-row" cdk-row *cdkRowDef="let row; columns: targetDisplayedColumns"
            data-target-row
            [attr.data-row]="row.index"></tr>
      </table>
    </div>
  </div>

  <div class="grid-selection-hide"></div>

  <div class="grid-select" data-select-block
       [style.top.px]="selectionTop" [style.height.px]="selectionHeight">
    <mat-icon class="edit-icon"
              svgIcon="edit" (click)="onEditMapping($event)"></mat-icon>
  </div>
</div>
