@import "mixins";

.match-score-grid {
  position: relative;
  height: calc(100% - 25px); // 45 - margin bottom

  .grid-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 100%;

    .match-score-grid-wrapper,
    .target-grid-wrapper {
      overflow-y: overlay;
      overflow-x: hidden;
    }

    .source-grid-wrapper {
      width: calc(40% - 100px); // 100px - match score grid width (91px) + margin (9px)
      overflow-x: overlay;
      @include grid-scroll();
    }

    .source-grid-wrapper,
    .match-score-grid-wrapper {
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .match-score-grid-wrapper {
      width: 91px;
    }

    .target-grid-wrapper {
      width: calc(60% - 9px); // 9px - margin
      @include grid-scroll();
    }

    .source-grid,
    .match-score-grid,
    .target-grid {
      width: 100%;
    }

    .match-score-column,
    .match-score-cell {
      margin-right: 9px;
    }

    .match-score-cell {
      background-color: rgba(0, 146, 15, .1);
    }

    .header {
      height: 34px;
    }

    .target-row {
      height: 34px;
    }

    .edit-cell {
      width: 36px;
      min-width: 36px;
      border-top: none;
    }

    .cell {
      white-space: nowrap;
    }
  }

  .grid-selection-hide {
    width: 100%;
    height: 35px;
    z-index: 100;
    position: absolute;
    background-color: #fff;
  }

  .grid-select {
    position: absolute;
    width: calc(100% - 1px);
    border: 1px solid #066BBB;
    display: flex;
    align-items: center;
    pointer-events: none;
    z-index: 99;
    background: rgba(6, 107, 187, 0.05);

    .edit-icon-wrapper {
      pointer-events: auto;
      cursor: pointer;
      z-index: 1000;
      margin-left: calc(40% + 10px); // 40% - source + match score grids width;
      // 9 - distance between match score and target grid + 1 - border
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 36px;

      &:hover {
        background: rgba(6, 107, 187, 0.1);
      }

      .edit-icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}
