.source-form {
  width: 296px;
  height: 485px;

  border: 1px solid rgba(#066BBB, 0.1);
  border-radius: 2px;

  &__header {
    display: flex;
    align-items: center;
    height: 38px;

    border-bottom: 1px solid rgba(#066BBB, 0.1);
    border-radius: 2px;

    margin-bottom: 18px;
    padding-left: 9px;

    &-name {
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;

      color: #404040;
    }
  }

  &-control {
    display: flex;
    flex-direction: column;

    margin: 15px 9px;

    label {
      font-size: 12px;
      line-height: 15px;
      color: #808080;
    }

    input, .mat-select {
      border: 0;
      border-bottom: 1px solid #2C2C2C;
      padding: 5px 0;

      font-size: 14px;
      line-height: 15px;

      color: #404040;
      background: #F9F9F9;

      &:focus {
        outline: none;
      }

      &.ng-invalid.ng-touched {
        border-bottom: 1px solid red;
      }
    }
  }

  &__test-connection {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-submit-button {
      width: 140px;
      height: 33px;

      background: #F9F9F9;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      border: 1px solid rgba(#066BBB, 0.1);

      font-weight: 500;
      font-size: 14px;
      line-height: 18px;

      text-align: center;
      color: #066BBB;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        background: #EBEBEB;
      }

      &:disabled {
        background: #F9F9F9;
        opacity: 0.6;
      }
    }

    &-result {
      margin-top: 8px;

      span {
        text-align: center;
      }

      &-success, &-error {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }

      &-success {
        font-size: 12px;
        line-height: 15px;

        color: #42980E;
      }

      &-error {
        font-size: 12px;
        line-height: 15px;

        color: #FF4646;
      }
    }
  }
}
