<app-auth-background class="reset-password">
  <form *ngIf="notReset else resetBlock" class="reset-password__form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="reset-password__form__header">
      <app-auth-logo></app-auth-logo>
    </div>

    <div class="reset-password__form__control">
      <label>
        New Password
        <app-validate-message *ngIf="password.touched && password.invalid">
          Min 8 chars, max - 14, one uppercase letter, one lowercase and one number
        </app-validate-message>
      </label>
      <app-auth-password-input formControlName="password"></app-auth-password-input>
    </div>

    <div class="reset-password__form__control reset-password__form__password-wrapper">
      <label>
        Confirm Password
        <app-validate-message *ngIf="confirmPassword.dirty && confirmPassword.invalid">
          Password mismatch
        </app-validate-message>
      </label>
      <app-auth-password-input formControlName="confirmPassword"></app-auth-password-input>

      <app-auth-error-message class="reset-password__form__password-wrapper__error" *ngIf="error" [message]="error"></app-auth-error-message>
    </div>

    <div class="reset-password__form__submit">
      <button type="submit" [disabled]="form.invalid || loading" [class.spinner]="loading">Reset password</button>
    </div>

    <div class="reset-password__form__redirect">
      <a [routerLink]="['/sign-in']">Log In</a>
      <span>|</span>
      <a [routerLink]="['/sign-out']">Register</a>
    </div>
  </form>

  <ng-template #resetBlock>
    <div class="reset-password__result">
      <div class="reset-password__result__header">
        <app-auth-logo></app-auth-logo>
      </div>

      <p class="reset-password__result__message">Your password has been reset successfully. You can now sign in with your new password.</p>

      <div class="reset-password__result__submit">
        <button [routerLink]="['/sign-in']">Go to Log In Page</button>
      </div>


      <div class="reset-password__result__redirect">
        <a [routerLink]="['/sign-in']">Log In</a>
        <span>|</span>
        <a [routerLink]="['/sign-out']">Register</a>
      </div>
    </div>
  </ng-template>
</app-auth-background>
