@import "mixins";
@import "variables";

:host {
  width: 100%;
  height: 100%;
}

.vocabulary-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__grid-wrapper {
    flex: 1;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      @include cdm-button();
      width: 80px;
      height: 33px;

      &.back {
        color: #404040;
        background-color: $cdm-grey-light;
        margin-right: 15px;
      }

      &.apply {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}
