<div class="mat-tab-column-info-container">
  <mat-tab-group (selectedTabChange)="onTableChanged($event.index)">
    <mat-tab *ngFor="let tableName of tableNames" [label]="tableName">
      <ng-container *ngIf="columnInfos[tableName] as info" [ngSwitch]="info.status">
        <div *ngSwitchCase="0" class="loading">
          <p>Loading...</p>
        </div>

        <div *ngSwitchCase="1" class="column-info">
          <div class="column-info__general">
            <div class="column-info__general__name">
              <span>Field Name:</span>
              <span>{{columnName}}</span>
            </div>

            <div class="column-info__general__type">
              <span>Field type:</span>
              <span>info.value.type || ''}}</span>
            </div>

            <div class="column-info__general__unique">
              <span>Unique values:</span>
              <span>{{info.value.uniqueValues || ''}}</span>
            </div>
          </div>

          <div *ngIf="info.value.topValues.length > 0" class="column-info__values">
            <table>
              <thead>
              <tr>
                <th>Value</th>
                <th>Frequency</th>
                <th>Percentage</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let value of info.value.topValues">
                <th>{{value.value || ''}}</th>
                <th>{{value.frequency || ''}}</th>
                <th>{{value.percentage || ''}}</th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngSwitchCase="2" class="no-info">
          <p>No info</p>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
