<div class="mat-tab-column-info-container">
  <mat-tab-group (selectedTabChange)="onTableChanged($event.index)">
    <mat-tab *ngFor="let tableName of tableNames" [label]="tableName">
      <ng-container *ngIf="columnInfos[tableName] as info" [ngSwitch]="info.status">
        <div *ngSwitchCase="0" class="loading">
          <p>Loading...</p>
        </div>

        <div *ngSwitchCase="1" class="column-info">
          <div class="column-info__general">
            <div class="column-info__general__name">
              <span>Field Name:</span>
              <span>{{columnName}}</span>
            </div>

            <div class="column-info__general__type">
              <span>Field type:</span>
              <span>info.value.type || ''}}</span>
            </div>

            <div class="column-info__general__unique">
              <span>Unique values:</span>
              <span>{{info.value.uniqueValues || ''}}</span>
            </div>
          </div>

          <div *ngIf="data.length"
               class="column-info__values grid-wrapper">
            <table class="grid"
                   cdk-table
                   [dataSource]="data"
                   [style.height]="height"
                   [style.width]="width">

              <ng-container *ngFor="let col of columns" [cdkColumnDef]="col.field">
                <th class="column cell" cdk-header-cell *cdkHeaderCellDef>
                  {{col.name}}
                </th>

                <td class="cell" cdk-cell *cdkCellDef="let row">
                  {{row[col.field]}}
                </td>
              </ng-container>

              <tr class="row header" cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr class="row" cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>

        <div *ngSwitchCase="2" class="no-info">
          <p>No info</p>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
