<div *ngIf="!vocabularyconfig">Loading...</div>
<div class="configuration" *ngIf="vocabularyconfig">
  <div class="configuration-name">{{ vocabularyconfig.name }}</div>
  <div class="container">
    <div class="block label">In:</div>
    <div class="block dictionary">
      <app-vocabulary-search-select
        [vocabulary]="vocabularyconfig.in"
        (value)="conditionIn($event)"
      ></app-vocabulary-search-select>
    </div>
  </div>
  <div class="container">
    <div class="block label">Not In:</div>
    <div class="block dictionary">
      <app-vocabulary-search-select
        [vocabulary]="vocabularyconfig.notin"
        (value)="conditionNotIn($event)"
      ></app-vocabulary-search-select>
    </div>
  </div>
</div>
