<div *ngIf="!vocabulary">Loading...</div>
<div class="configuration" *ngIf="vocabulary">
  <div class="configuration-name">{{ name }}</div>
  <div class="container">
    <div class="block label">In:</div>
    <div class="block dictionary">
      <app-vocabulary-search-select
        [vocabulary]="vocabulary"
      ></app-vocabulary-search-select>
    </div>
  </div>
  <div class="container">
    <div class="block label">Not In:</div>
    <div class="block dictionary">
      <app-vocabulary-search-select
        [vocabulary]="vocabulary"
      ></app-vocabulary-search-select>
    </div>
  </div>
</div>
