<div class="dialog">
    <div class="type-div">
        <h4 class="header">Transformation</h4>
        <app-transformation-type [typeName]="sqlLabel"
                                 [configured]="connector.source.sqlTransformation"
                                 [isTypeChecked]="connector.source.sqlTransformationActive"
                                 (selectedType)="openSqlFunctionDialog()"
                                 (TypeCheckedEvent)="onSqlChecked($event)">
        </app-transformation-type>
        <app-transformation-type [typeName]="lookupLabel"
                                 (selectedType)="openLookupDialog()">
        </app-transformation-type>
    </div>
</div>
