<div class="dialog">
    <div class="type-div">
        <h4 class="header">Transformation</h4>
        <app-transformation-type [typeName]="sqlLabel"
                                 [data]="payload.sql"
                                 (selectedType)="openSqlFunctionDialog()"
                                 (toggleCheckbox)="toggleSqlCheckbox()">

        </app-transformation-type>
        <app-transformation-type [typeName]="lookupLabel"
                                 [data]="payload.lookup"
                                 (selectedType)="openLookupDialog()"
                                 (toggleCheckbox)="toggleCheckbox()">
        </app-transformation-type>
    </div>
</div>
