<h1 mat-dialog-title>{{ action }}</h1>
<div mat-dialog-content>
  <app-saved-mappings
    [action]="action"
    [tablesconfiguration]="target"
    (select)="onSelectConfiguration($event)"
  ></app-saved-mappings>
</div>
<div mat-dialog-actions>
  <button *ngIf="action==='save'"
    mat-button
    [mat-dialog-close]="configurationName"
    (click)="saveConfiguration()"

    matTooltip="Save mapping"
  >
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>
  <button *ngIf="action==='open'"
    mat-button
    [mat-dialog-close]="configurationName"
    cdkFocusInitial
    (click)="openConfiguration()"
    matTooltip="Open mapping"
  >
    <mat-icon>description</mat-icon>
    <span>Open</span>
  </button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
