<div [formGroup]="sqlForm">
  <section cdkDropList
           #editorArea="cdkDropList"
           (cdkDropListDropped)="drop($event)"
           [class.invalid]="sqlForm.touched && !editorContent">
    <label>SQL Statement</label>
    <textarea #editor></textarea>
  </section>
  <section>
    <label>Quick functions</label>
    <mat-chip-list #tables="cdkDropList"
                   cdkDropList
                   cdkDropListSortingDisabled
                   [cdkDropListData]="chips"
                   [cdkDropListConnectedTo]="[editorArea]"
                   class="table-name">
      <mat-chip class="table-box"
                cdkDrag
                *ngFor="let chip of chips">
        {{chip}}
      </mat-chip>
    </mat-chip-list>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-flat-button
          (click)="onCancelClick()">
    Cancel
  </button>
  <button mat-flat-button
          color="accent"
          [disabled]="sqlForm.invalid || !editorContent">
    Apply
  </button>
</div>

