<mat-tab-group [dynamicHeight]="true" class="vocabulary-config-tabs">
  <mat-tab label="Concept">
    <app-concept-config
      [conceptConfig]="vocabularyConfig.conceptConfig"
      (outConfig)="outConfigHandler($event)"
    ></app-concept-config>
  </mat-tab>
  <mat-tab label="Source Concept">
    <app-concept-config
      [conceptConfig]="vocabularyConfig.sourceConceptConfig"
      (outConfig)="outConfigHandler($event)"
    ></app-concept-config>
  </mat-tab>
  <mat-tab label="Type" class="type-tab-content">
    <table>
      <thead>
        <tr>
          <th rowspan="3">Field name</th>
          <th>Visit type</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of typeConcept">
          <tr>
            <td rowspan="3">{{ item.sourceFieldName }}</td>
            <td>{{ item.visitTypeIP }}</td>
            <td>
              <input
                class="input-add"
                [(ngModel)]="item.valueIP"
              />
            </td>
          </tr>
          <tr>
            <td>{{ item.visitTypeOP }}</td>
            <td><input
              class="input-add"
              [(ngModel)]="item.valueOP"
            /></td>
          </tr>
          <tr>
            <td>{{ item.visitTypeER }}</td>
            <td><input
              class="input-add"
              [(ngModel)]="item.valueER"
            /></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-tab>
</mat-tab-group>
