@import "mixins";
@import "variables";

.password-control {
  @include login-control();

  .password-wrapper {
    position: relative;

    input {
      width: 100%;
    }

    svg {
      position: absolute;
      right: 0;
      bottom: 8px;
      width: 16px;
      height: 8px;
      cursor: pointer;
    }
  }
}
