@import "mixins";
@import "variables";

.password-wrapper {
  position: relative;

  input {
    width: 100%;
    @include login-input()
  }

  svg {
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 16px;
    height: 8px;
    cursor: pointer;
  }
}
