<mat-toolbar color="primary"
             class="app-toolbar">
  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="cdm menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon svgIcon="help"></mat-icon>
  </button>
  <label class="info-label">{{reportName ? reportName : "Report name"}} - {{cdmVersion ? "CDM v"+cdmVersion : "CDM version"}}</label>
  <span class="divider"></span>
  <a class="logo" [routerLink]="['/comfy']">CDM ETL</a>
  <mat-menu #menu="matMenu">
    <input
      #sourceUpload
      type="file"
      (change)="onFileUpload($event)"
      hidden/>
    <button mat-menu-item
            (click)="onOpenSourceClick()">
      <mat-icon svgIcon="folder"></mat-icon>
      <span>Load New Report</span>
    </button>
    <button mat-menu-item (click)="openSetCDMDialog()">
      <mat-icon svgIcon="CDM_version"></mat-icon>
      <span>Set CDM Version</span>
    </button>
    <button mat-menu-item
            (click)="openSaveMappingDialog('open')">
      <mat-icon svgIcon="mapping"></mat-icon>
      <span>Open Mappings</span>
    </button>
    <button mat-menu-item
            (click)="openSaveMappingDialog('save')">
      <mat-icon svgIcon="save"></mat-icon>
      <span>Save Mappings</span>
    </button>
    <button
      mat-menu-item
      (click)="resetAllMappings()">
      <mat-icon svgIcon="reset"></mat-icon>
      <span>Reset All Mappings</span>
    </button>
  </mat-menu>
</mat-toolbar>
