mat-toolbar.app-toolbar {
  padding-left: 45px;
  padding-right: 80px;
  height: 40px;

  .logo {
    color: #A8A8A8;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: bolder;
    margin-top: 4px;
  }

  .info-label {
    font-size: 70%;
    padding: 15px;
  }
}
