mat-toolbar.app-toolbar {
  padding-left: 64px;
  padding-right: 80px;
  height: 40px;
  min-width: 1440px;

  .logo {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: smaller;
    font-weight: bolder;
  }

  .info-label {
    font-size: 70%;
    padding: 15px;
  }
}
