<mat-toolbar color="primary"
             class="app-toolbar">
  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="cdm menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <a class="logo"
     [routerLink]="['/comfy']">CDM ETL</a>

  <app-breadcrumb></app-breadcrumb>

  <span class="divider"></span>

  <label class="info-label">{{reportName}} - {{cdmVersion}}</label>

  <button mat-icon-button
          (click)="startOnBoarding($event.currentTarget)">
    <mat-icon svgIcon="help"></mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <input
      #sourceUpload
      type="file"
      (change)="onFileUpload($event)"
      hidden/>
      <input
      #mappingUpload
      type="file"
      (change)="onMappingUpload($event)"
      hidden/>
    <button mat-menu-item
            (click)="resetSourceAndTarget()">
      <mat-icon svgIcon="new_mapping"></mat-icon>
      <span>Create New Mapping</span>
    </button>
    <button mat-menu-item
            (click)="onOpenSourceClick()">
      <mat-icon svgIcon="folder"></mat-icon>
      <span>Load New Report</span>
    </button>
    <button mat-menu-item
            (click)="openSetCDMDialog()">
      <mat-icon svgIcon="CDM_version"></mat-icon>
      <span>Set CDM Version</span>
    </button>
    <button mat-menu-item
            (click)="openLoadMappingDialog()">
      <mat-icon svgIcon="mapping"></mat-icon>
      <span>Open Mappings</span>
    </button>
    <button mat-menu-item
            (click)="openSaveMappingDialog()">
      <mat-icon svgIcon="save"></mat-icon>
      <span>Save Mappings</span>
    </button>
    <button
      mat-menu-item
      (click)="resetAllMappings()">
      <mat-icon svgIcon="reset"></mat-icon>
      <span>Delete All Mappings</span>
    </button>
  </mat-menu>
</mat-toolbar>
