<app-auth-background class="restore-password">
  <form *ngIf="notRestored else restoredBlock" class="restore-password__form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="restore-password__form__header">
      <app-auth-logo></app-auth-logo>
    </div>

    <div class="restore-password__form__control">
      <label for="email">
        E-mail
        <app-validate-message *ngIf="email.touched && email.dirty && email.invalid">
          Invalid address
        </app-validate-message>
      </label>
      <input id="email" type="email" formControlName="email" placeholder="email@example.com">
    </div>

    <div class="restore-password__form__submit">
      <button type="submit" [disabled]="form.invalid || loading" [class.spinner]="loading">Restore password</button>
    </div>

    <div class="restore-password__form__redirect">
      <a [routerLink]="['/sign-in']">Log In</a>
      <span>|</span>
      <a [routerLink]="['/sign-out']">Register</a>
    </div>
  </form>

  <ng-template #restoredBlock>
    <div class="restore-password__result">
      <div class="restore-password__result__header">
        <app-auth-logo></app-auth-logo>
      </div>

      <p class="restore-password__result__message">
        We sent you an E-mail with a link. Please click
        this link to reset your password.
      </p>

      <div class="restore-password__result__submit">
        <button [routerLink]="['/sign-in']">Go to Log In Page</button>
      </div>

      <div class="restore-password__result__redirect">
        <a [routerLink]="['/sign-in']">Log In</a>
        <span>|</span>
        <a [routerLink]="['/sign-out']">Register</a>
      </div>
    </div>
  </ng-template>
</app-auth-background>
