@import "src/app/styles/mixins";

:host {
  @include transformation-function();
}

.date-add {
  @include transformation-function-toolbar();
  display: flex;
  justify-content: space-between;

  input,
  .mat-select {
    @include cdm-input();
    background: none;
    width: 120px;
  }
}
