<div class="vocabulary-condition">
  <div class="vocabulary-condition-element">
    Condition:
  </div>
  <app-vocabulary-dropdown class="vocabulary-condition-element"
    [vocabulary]="sourcefields"
    [ismultipe]="'false'"
    [showDefaultOption]="'true'"
    (value)="onLookupSelected($event)"
  >
  </app-vocabulary-dropdown>
  <mat-form-field class="vocabulary-condition-element">
    <mat-label>is</mat-label>
    <mat-select>
      <mat-option *ngFor="let operator of operators" [value]="operator">
        {{ operator }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="vocabulary-condition-element condition-value" [floatLabel]="'never'">
    <mat-label>enter vaule</mat-label>
    <input
      type="number"
      #configname
      matInput
      [formControl]="conditionValue"
      [required]="'true'"
    />
  </mat-form-field>
</div>
