@import 'src/app/styles/variables.scss';

table {
    width: 100%;
    box-shadow: none;
    background-color: $yellowish;
    border-collapse: collapse;
    padding: 0;

    .indicator {
        margin-left: 20px;
        cursor: move;
    }

    .button-filter {
        mat-icon {
            font-size: 14px;
            width: 10px;
            color: $blue;
        }
    }

    mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    th {
        font-size: 13px;
    }

    .caption-item {
        color: $blue;
    }

    mat-icon.active {
        color: #066BBB;
    }

    .drag_indicator {
        padding: 0 !important;
    }

    .draggable {
        cursor: move;
    }
}