@import 'src/app/styles/variables.scss';

table {
    width: 100%;
    box-shadow: none;
    background-color: $yellowish;
    border-collapse: collapse;
    padding: 0;

    th {
        font-size: 13px;
    }

    .anchor {
        mat-icon {
            font-size: 14px;
        }
    }

    .caption-item {
        color: $blue;
    }

    mat-icon.active {
        color: #066BBB;
    }

    .drag_indicator {
        padding: 0 !important;
    }

    .draggable {
        cursor: move;
    }
}

