<table #tableComponent [id]="table.name" mat-table [dataSource]="datasource">
  <ng-container matColumnDef="column_indicator">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let column" class="drag_indicator">
      <div #anchor class="anchor">
        <mat-icon *ngIf="area === 'source'" class="icon-indicator">
          drag_indicator
        </mat-icon>
        <button
          mat-icon-button
          *ngIf="area === 'target'"
          (click)="openConstantDialog(anchor, column)"
        >
          <div class="constant-icon" [ngClass]="{ active: column.hasConstant }">c</div>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="column_name">
    <th mat-header-cell *matHeaderCellDef class="caption-item">Field</th>
    <td mat-cell *matCellDef="let row">{{ row.name | prettyName }}</td>
  </ng-container>

  <ng-container matColumnDef="column_type">
    <th mat-header-cell *matHeaderCellDef class="caption-item">Type</th>
    <td mat-cell *matCellDef="let row">{{ row.type | prettyName }}</td>
  </ng-container>

  <ng-container matColumnDef="values">
    <th mat-header-cell *matHeaderCellDef>Top 10 values</th>
    <td mat-cell *matCellDef="let row">
      <div #anchor class="anchor">
        <button mat-icon-button>
          <mat-icon class="icon-values">
            sort
          </mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef class="caption-item">Comments</th>
    <td mat-cell *matCellDef="let row" class="no-right-padding">
      <div #anchor class="anchor">
        <button
          mat-icon-button
          class="comments-button"
          (click)="openCommentDialog(anchor, row)"
          [disableRipple]="true"
        >
          <mat-icon
            class="icon-comment"
            [ngClass]="{ active: hasComment(row) }"
          >
            comment
          </mat-icon>
        </button>
        <span class="divider"></span>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr
    #htmlElement
    [id]="row.name"
    appDraggable
    [area]="area"
    [table]="table"
    [row]="row"
    mat-row
    [matTooltip]="row.tableName"
    [matTooltipDisabled]="area !== 'source'"
    *matRowDef="let row; columns: displayedColumns"
    [class.draggable]="area == 'source'"
    [hidden]="isHidden(row) || isFiltered(row)"
    class="item-{{ row.tableName }}-{{ row.name }} {{area}}Row"
    [ngClass]="{ rowHasLink: isRowHasConnection(row) }"
  ></tr>
</table>
