<table id="{{ table.name }}" mat-table [dataSource]="visibleRows">
  <ng-container matColumnDef="column_indicator">
    <th mat-header-cell *matHeaderCellDef>
      <button
        mat-icon-button
        disableRipple="true"
        #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="filter"
        class="button-filter"
      >
        <mat-icon svgIcon="filter" class="filter"> </mat-icon>
        <mat-menu #filter="matMenu">
          <ng-template matMenuContent>
            <app-filter [menuTrigger]="menuTrigger" [data]="rows"></app-filter>
          </ng-template>
        </mat-menu>
      </button>
    </th>
    <td mat-cell *matCellDef="let column" class="drag_indicator">
      <div #anchor class="anchor">
        <mat-icon *ngIf="area === 'source'" class="icon-indicator">
          drag_indicator
        </mat-icon>
        <button
          mat-icon-button
          *ngIf="area === 'target'"
          (click)="openConstantDialog(anchor, column)"
        >
          <mat-icon [ngClass]="{ active: column.hasConstant }">
            add_box
          </mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="column_name">
    <th mat-header-cell *matHeaderCellDef class="caption-item">
      Item : {{ visibleRowsNumber }}/{{ totalRowsNumber }}
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.name | prettyName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="column_type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let row">
      {{ row.type | prettyName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="values">
    <th mat-header-cell *matHeaderCellDef>Top 10 values</th>
    <td mat-cell *matCellDef="let row">
      <div #anchor class="anchor">
        <button mat-icon-button>
          <mat-icon class="icon-values">
            sort
          </mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef>Comments</th>
    <td mat-cell *matCellDef="let row" class="no-right-padding">
      <div #anchor class="anchor">
        <button
          mat-icon-button
          (click)="openCommentDialog(anchor, row)"
          [disableRipple]="true"
        >
          <mat-icon
            class="icon-comment"
            [ngClass]="{ active: hasComment(row) }"
          >
            comment
          </mat-icon>
        </button>
        <div
          id="item-{{ row.tableName }}-{{ row.name }}"
          class="connector-pin hide"
          (click)="openTransform($event, row)"
        >
          <div class="connector-type ">L</div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr
    #htmlElement
    id="{{ row.name }}"
    appDraggable
    [area]="area"
    [table]="table"
    [row]="row"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (mousedown)="setActiveRow($event, row)"
    (click)="selectRow($event, row)"
    [class.draggable]="area == 'source'"
    class="item-{{ row.tableName }}-{{ row.name }}"
  ></tr>
</table>
