<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="cdm menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span style="flex: 1 1 auto"></span>
  <h1>CDM ETL</h1>
  <mat-menu #menu="matMenu">
    <input
      #sourceUpload
      type="file"
      (change)="onFileUpload($event)"
      style="display: none"/>
    <button mat-menu-item (click)="onOpenSourceClick()">
      <mat-icon>folder_open</mat-icon>
      <span>Load New Report</span>
    </button>
    <button mat-menu-item (click)="openSetCDMDialog('open')">
      <mat-icon>description</mat-icon>
      <span>Set CDM Version</span>
    </button>
    <button mat-menu-item (click)="openSaveMappingDialog('open')">
      <mat-icon>description</mat-icon>
      <span>Open Mappings</span>
    </button>
    <button mat-menu-item (click)="openSaveMappingDialog('save')">
      <mat-icon>save</mat-icon>
      <span>Save Mappings</span>
    </button>
    <button
      mat-menu-item
      matTooltip="Reset current mappings"
      matTolltipPosition="right"
      (click)="resetAllMappings()"
    >
      <mat-icon>delete</mat-icon>
      <span>Reset All Mappings</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
