<mat-expansion-panel #matpanel (opened)="onOpen()" (closed)="onClose()" expanded="true">
  <mat-expansion-panel-header
    #exppanelheader
    class="mat-expansion-panel-header panel-header-{{ table.name }}"
  >
    <mat-panel-title>
      <mat-icon
        (click)="openSampleDataDialog($event)"
        matTooltip="Open sample data"
      >
        list
      </mat-icon>
      {{ title | prettyName }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-panel-table
    [table]="table"
    [displayedColumns]="[
      'column_indicator',
      'column_name',
      'column_type',
      'comments'
    ]"
  >
  </app-panel-table>
</mat-expansion-panel>
