<ng-container *ngFor="let item of groups | keyvalue">
  <mat-expansion-panel (opened)="onOpen()" (closed)="onClose()" [expanded]="item.value.expanded">
    <mat-expansion-panel-header
      #expPanelHeader
      class="mat-expansion-panel-header panel-header-{{ table.name }}"
    >
      <mat-panel-title>
        <mat-icon
          (click)="openSampleDataDialog($event)"
          matTooltip="Open sample data"
        >
          list
        </mat-icon>
        <span>{{item.key | prettyName}}</span>
        <div class="linkSimilarItems">
          <mat-slide-toggle
            [disabled]="!item.value.rows.length"
            (change)="onCheckboxChange($event)"
            (click)="$event.stopPropagation();"
          >Link similar fields</mat-slide-toggle>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-panel-table
      #panel
      [table]="item.value"
      [tabIndex]="tabIndex"
      (openTransform)="onOpenTransfromDialog($event)"
    >
    </app-panel-table>
  </mat-expansion-panel>
</ng-container>
