@import 'src/app/styles/variables.scss';

.mat-expansion-panel {
    background-color: $yellowish;
    margin-bottom: 5px;
    border-radius: 1px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);

    mat-expansion-panel-header {
         font-weight: bold;
    }

    mat-panel-title {
        font-size: 13px;
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 10px;
            align-self: center;
            color: $grey;
        }
    }
}
