<app-search-by-name
  class="filter-by-name {{area}}"
  placeholder="Search by {{area}} fields"
  [criteria]="searchCriteria"
  (complete)="filterByName($event)"
  (reset)="filterByNameReset($event)">
</app-search-by-name>

<app-area [area]="area">
  <app-panel-table
    #panel
    [table]="table"
    [tables]="tables"
    [tabIndex]="tabIndex"
    [filtered]="filtered"
    [filteredFields]="filteredFields"
    [oppositeTableId]="oppositeTableId"
    (openTransform)="onOpenTransfromDialog($event)"
  >
  </app-panel-table>
</app-area>
