@import 'src/app/styles/variables.scss';

.filter-by-name {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.filter-by-name {
  ::ng-deep .search-by-name {
    margin: 0 3px 0 3px;
  }
}

.flex-div{
  display: flex;
}

.flex-div-align-center {
  @extend .flex-div;
  align-items: center;
  color: #066BBB;
  font-size: 15px;
  font-weight: bold;
  .mat-icon{
    cursor: pointer;
  }
}

.margin-left{
  margin-left: auto;
}

.create-group-disabled{
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.info-icon{
  color: #066BBB;
  font-size: 15px;
  cursor: pointer;
  margin-left: 3px;
}

.condition{
  margin-left: 10px;
}
