@import 'src/app/styles/variables.scss';

.mat-expansion-panel {
  background-color: $cdm-background-grey-light;
  margin-bottom: 5px;
  border-radius: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

  mat-expansion-panel-header {
        font-weight: bold;
  }

  mat-panel-title {
    font-size: 13px;
    display: flex;
    align-items: center;

    mat-icon {
        margin-right: 10px;
        align-self: center;
        color: $grey;
    }

    ::ng-deep .linkSimilarItems {
      margin-left: auto;
      margin-right: 10px;

      .mat-slide-toggle-bar {
        width: 30px;
      }

      .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: $blue;
      }

      .mat-slide-toggle-thumb-container {
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;

        .mat-slide-toggle-thumb {
          background-color: $white;
          height: 10px;
          width: 10px;
          margin: auto;
        }
      }

      span {
        text-transform: capitalize;
        font-weight: normal;
      }
    }
  }
}

.mat-expansion-panel-header-title span {
  text-transform: uppercase;
}
