<app-search-by-name
  class="filter-by-name {{area}}"
  placeholder="Search by {{area}} fields"
  [criteria]="searchCriteria"
  (complete)="filterByName($event)"
  (reset)="filterByNameReset($event)">
</app-search-by-name>
<div class="create-group"
     *ngIf="area === 'source' && table.name !== 'similar'"> <a id="createGroup"
  (click)="createGroup()"
  [ngClass]="{'create-group-disabled': !(this.panel && this.panel.rowFocusedElements && this.panel.rowFocusedElements.length>1)}">
  Create Group</a>
  <mat-icon class="info-icon"
            (click)="openOnBoardingTip($event.currentTarget)">info</mat-icon>
</div>
<div class="create-group"
     *ngIf="area === 'target' && table.name !== 'similar'"> 
  <a id="createGroup">Test</a>
  <div class="margin-left">
  <a id="clone">Clone</a>
  <mat-icon class="info-icon"
            (click)="openOnBoardingTip($event.currentTarget)">info</mat-icon>
  <a id="condition" class="condition">Add Condition</a> 
  </div>     
</div>
<app-area [area]="area">
  <app-panel-table
    #panel
    [createGroupElementId]="'createGroup'"
    [table]="table"
    [tables]="tables"
    [tabIndex]="tabIndex"
    [filtered]="filtered"
    [filteredFields]="filteredFields"
    [oppositeTableId]="oppositeTableId"
    [mappingConfig]="mappingConfig"
    (openTransform)="onOpenTransfromDialog($event)"
  >
  </app-panel-table>
</app-area>
