@import "variables";

.hint-overlay {
  position: relative;
  top: -10px;
  left: 7px;
  padding: 8px;
  background-color: $cdm-grey-dark;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $cdm-grey-dark transparent transparent;
  }
}
