<div class="grid-wrapper">
  <div class="grid" [style.height]="height">
    <div class="row header">
      <div class="column cell select-cell">
        <app-grid-checkbox [checked]="checkedAll"
                           (click)="selectAll()"></app-grid-checkbox>
      </div>

      <div *ngFor="let column of columns"
           class="column cell"
           [style.minWidth]="column.width"
           [ngClass]="{'sortable-asc': column.field === sortParams?.field && sortParams.order === 'asc',
               'sortable-desc': column.field === sortParams?.field && sortParams.order === 'desc'}">
        {{column.name}}

        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"
             (click)="onSort(column.field)">
          <path opacity="0.6" d="M0 12H6V10H0V12ZM0 0V2H18V0H0ZM0 7H12V5H0V7Z" fill="white"/>
        </svg>
      </div>
    </div>

    <div *ngFor="let row of data" class="row">
      <div class="cell select-cell">
        <app-grid-checkbox [checked]="row.selected"
                           (click)="select(row)"></app-grid-checkbox>
      </div>

      <div *ngFor="let column of columns" class="cell" [style.minWidth]="column.width">
        {{row[column.field]}}
      </div>
    </div>

    <div *ngIf="error" class="row error-row">{{error}}</div>
  </div>

  <div *ngIf="requestInProgress" class="ui-blocker">
    <mat-spinner></mat-spinner>
  </div>
</div>
