<div  class="concept-container"> 
    <h3>Concept Configuration</h3>
    <mat-icon class="close"
          mat-dialog-close
          (click)="close()">close
  </mat-icon>
    <mat-tab-group>
        <mat-tab [label]="'Fields'">
            <a class="add-concept-link"
            (click)="addConcept()">Add concept</a>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="source_value">
                        <th mat-header-cell
                            *matHeaderCellDef>Source Value</th>
                        <td mat-cell (click)="onCellClick($event.target, row)"
                            *matCellDef="let row"
                            class='source_value'>
                            <app-concept-column
                            [field] = "row.fields['source_value']"
                            [conceptFields] = "connectedToConceptFields[conceptFields[1]]"
                            [row] = "row"
                            [fieldType]="'source_value'"
                            [concepts] = "dataSource.data"
                            [connectedToConceptFields]="connectedToConceptFields"
                            [targetTableName]="targetTableName"
                            (getConceptFieldName) = "getConceptFieldNameByType($event)"
                            ></app-concept-column>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="concept_id">
                        <th mat-header-cell
                            *matHeaderCellDef>Concept ID</th>
                        <td mat-cell (click)="onCellClick($event.target, row)"
                            *matCellDef="let row"
                            class='concept_id'>
                            <app-concept-column
                            [field] = "row.fields['concept_id']"
                            [conceptFields] = "connectedToConceptFields[conceptFields[0]]"
                            [row] = "row"
                            [fieldType]="'concept_id'"
                            [concepts] = "dataSource.data"
                            [connectedToConceptFields]="connectedToConceptFields"
                            [targetTableName]="targetTableName"
                            (getConceptFieldName) = "getConceptFieldNameByType($event)"
                            ></app-concept-column>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="source_concept_id">
                        <th mat-header-cell
                            *matHeaderCellDef>Source Concept ID</th>
                        <td mat-cell (click)="onCellClick($event.target, row)"
                            *matCellDef="let row"
                            class="source_concept_id">
                            <app-concept-column
                            [field] = "row.fields['source_concept_id']"
                            [conceptFields] = "connectedToConceptFields[conceptFields[2]]"
                            [row] = "row"
                            [fieldType]="'source_concept_id'"
                            [concepts] = "dataSource.data"
                            [connectedToConceptFields]="connectedToConceptFields"
                            [targetTableName]="targetTableName"
                            (getConceptFieldName) = "getConceptFieldNameByType($event)"
                            ></app-concept-column>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type_concept_id">
                        <th mat-header-cell
                            *matHeaderCellDef>Type Concept ID</th>
                        <td mat-cell (click)="onCellClick($event.target, row)"
                            *matCellDef="let row"
                            class="type_concept_id">
                            <app-concept-column
                            [field] = "row.fields['type_concept_id']"
                            [conceptFields] = "connectedToConceptFields[conceptFields[3]]"
                            [row] = "row"
                            [fieldType]="'type_concept_id'"
                            [concepts] = "dataSource.data"
                            [connectedToConceptFields]="connectedToConceptFields"
                            [targetTableName]="targetTableName"
                            (getConceptFieldName) = "getConceptFieldNameByType($event)"
                            ></app-concept-column>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="remove_concept">
                        <th mat-header-cell
                            *matHeaderCellDef></th>
                        <td mat-cell
                            *matCellDef="let row">
                            <mat-icon class="red-right-icon-18"
                                      (click)="removeConcept(row)">close</mat-icon>
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                    <tr mat-row
                        *matRowDef="let row; let index = index; columns: displayedColumns;"
                        [ngClass]="{alternate: index % 2 == 1 }">
                    </tr>
                </table>
            </div>
            <div class="sql-container">
                <mat-slide-toggle [checked]="selectedCellElement ? conceptsTable.conceptsList[selectedConceptId].fields[selectedCellType].sqlApplied : false"
                                  (change)="toggleSqlTransformation($event.checked)"
                                  [disabled]="!selectedCellElement || !conceptsTable.conceptsList[selectedConceptId].fields[selectedCellType].field">Apply SQL Transformation</mat-slide-toggle>
                <app-sql-transformation #sqlTransfomation
                [sql]="{}"
                [reducedSqlField]="reducedSqlArea"></app-sql-transformation>
            </div>
        </mat-tab>
        <mat-tab [label]="'Lookup'">
            <div>
                <app-lookup #lookupComponent
                  [lookupType]="lookupType"
                  [lookup]="conceptsTable.lookup"
                  [name]="conceptsTable.lookup['name']"></app-lookup>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="buttons">
        <button
          mat-button
          mat-dialog-close
          class="button-cancel">Cancel
        </button>
        <button   
          mat-button
          mat-flat-button
          color="accent"
          (click)="add()"
          class="button-add">Apply
        </button>
      </div>
</div>

