.connection-error {
  width: 502px;
  height: 308px;

  background: #F9F9F9;
  border-radius: 2px;
  padding: 41px 35px 42px 35px;

  &__header {
    display: flex;
    justify-content: left;
    margin-bottom: 22px;

    svg {
      margin-right: 10px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #404040;
    }
  }

  &__content {
    display:  flex;
    flex-direction: column;

    p {
      font-size: 14px;
      line-height: 150%;
      color: #404040;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
}
