<mat-form-field [floatLabel]="'never'" class="transform-input">
  <mat-icon matPrefix>edit</mat-icon>
  <input
    matInput
    placeholder="input sql function"
    [formControl]="editor"
    (keyup.enter)="onEnterPressed(editor.value)"
  />
  <button
    *ngIf="editor.value"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear editor"
    (click)="clearEditor()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="editor.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
<mat-form-field [floatLabel]="'never'" class="transform-input">
  <mat-icon matPrefix>search</mat-icon>
  <input
    matInput
    placeholder="select sql function"
    [formControl]="selector"
    (keyup.enter)="onEnterPressed(selector.value)"
    [matAutocomplete]="auto"
  />
  <button
    *ngIf="criteria"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear selector"
    (click)="clearSelector()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete
  #auto="matAutocomplete"
  [displayWith]="displayFn"
  (optionSelected)="selectTransform($event)"
>
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option.name }}
  </mat-option>
</mat-autocomplete>
