<mat-form-field [floatLabel]="'never'">
  <mat-icon matPrefix>search</mat-icon>
  <input
    matInput
    placeholder="input sql function"
    [formControl]="formControl"
    (keyup.enter)="applyTransform(formControl.value)"
    [matAutocomplete]="auto"
  />
  <button
    *ngIf="criteria.length > 0"
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of sqlFunctions" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>
