.source-form {
  display: flex;
  flex-direction: column;

  width: 296px;
  height: 485px;

  border: 1px solid rgba(#066BBB, 0.1);
  border-radius: 2px;

  .mat-form-field {
    margin: 15px 9px 0 9px;
  }

  &__test-connection {
    margin-top: auto;
    padding-bottom: 23px;
  }
}
