.tables-select{
    background: white;
    overflow-y: scroll;
    max-width: 250px;
    max-height: 150px;
    margin: 10px 10px 10px 10px;
}

.table-select-option{
    font-family: "Akzidenz-Grotesk Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

.mat-list-item.active {
    color: #066BBB;
  }