.tables-select {
    background: white;
    overflow-y: scroll;
    max-width: 250px;
    max-height: 150px;
    margin: 10px 10px 10px 10px;
}

.table-select-option {
    height: 32px;
}

.flex-div {
    display: flex;
    font-family: "Akzidenz-Grotesk Pro", Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    font-weight: bold !important;
    align-items: center;

    .mat-icon{
        margin-top: 4px;
        margin-left: 3px;
        font-size: 19px !important;
        color: grey;
      }
      
      .mat-icon:hover { 
        color: red !important;
      }
}

.uppercase {
    text-transform: uppercase;
}

.mat-list-item.active {
    color: #066bbb;
}
