<div class="tables-select">
  <mat-selection-list class="mat-select-red"
                      [multiple]="false"
                      (selectionChange)="onSelectionChange($event.option.value)">
    <mat-list-option class="table-select-option"
                     [ngClass]="{'uppercase': payload.uppercase}"
                     [class.active]="table === payload.selected"
                     *ngFor="let table of payload.tables"
                     [value]="table">
                     <div class="flex-div">
                       <div>{{payload.clone ? table.cloneName : table.name}}</div>
                       <mat-icon (click)="remove(table)"
                                 *ngIf="payload.remove && table.cloneName !== payload.itemNotToRemove">delete_outline</mat-icon>
                     </div>
    </mat-list-option>
  </mat-selection-list>
</div>
