@import '../../../../styles/variables';

table, td, th {
  border: 1px solid rgba(143, 143, 143, 0.25);
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

td {
 padding: 3px;
}

.input {
  border-radius: 2px;
  border: 0.75px solid $light-grey;
  height: 100%;
  width: 100%;
  background-color: $cdm-grey-lighter;
}

.input-add {
  @extend .input;
  width: calc(100% - 12px);
  height: 25px;
  padding: 5px;
}
