<table #tableComponent [id]="table.name" mat-table [dataSource]="datasource" multiTemplateDataRows>
  <ng-container matColumnDef="column_indicator">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="drag_indicator">
      <div #anchor class="anchor">
        <mat-icon *ngIf="area === 'source'" class="icon-indicator">
          drag_indicator
        </mat-icon>
        <button mat-icon-button
                class="circle-button"
                *ngIf="area === 'target' && row.uniqueIdentifier else constBlock"
                (click)="selectIncrement(anchor, row)">
          <div class="constant-increment-icon"
               [ngClass]="{ active: row.hasIncrement }">A</div>
        </button>
        <ng-template #constBlock>
          <button mat-icon-button
                  class="circle-button"
                  *ngIf="showConstant(row)"
                  (click)="openConstantDialog(anchor, row)">
            <div class="constant-increment-icon"
                 [ngClass]="{ active: isConstant(row) }">C</div>
          </button>
        </ng-template>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="column_name">
    <th mat-header-cell
        *matHeaderCellDef
        class="caption-item">Field</th>
    <td mat-cell
        *matCellDef="let row">
      <div class="required-field">
        <mat-icon class="group-icon"
                  svgIcon="folder_2"
                  *ngIf="row.grouppedFields && row.grouppedFields.length"
                  (click)="expandRow(row)"></mat-icon>
        <div>{{ row.name }}</div>
        <div *ngIf="!row.isRowNullable"
             class="red">*</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="column_type">
    <th mat-header-cell *matHeaderCellDef class="caption-item">Type</th>
    <td mat-cell *matCellDef="let row">{{ row.type | prettyName }}</td>
  </ng-container>

  <ng-container matColumnDef="values">
    <th mat-header-cell *matHeaderCellDef>Top 10 values</th>
    <td mat-cell *matCellDef="let row">
      <div #anchor class="anchor">
        <button mat-icon-button>
          <mat-icon class="icon-values">
            sort
          </mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="remove_group">
    <th mat-header-cell
        *matHeaderCellDef
        class="caption-item"></th>
    <td mat-cell
        *matCellDef="let row">
      <div class='remove-group'>
        <mat-icon class="remove-group-icon"
                  *ngIf="row.grouppedFields && row.grouppedFields.length"
                  (click)="removeGroup(row)">delete_outline</mat-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef class="caption-item">Comments</th>
    <td mat-cell *matCellDef="let row" class="no-right-padding">
      <div #anchor class="anchor">
        <button
          mat-icon-button
          class="comments-button"
          (click)="openCommentDialog(anchor, row)"
          [disableRipple]="true"
        >
          <mat-icon
            class="icon-comment"
            [ngClass]="{ active: hasComment(row) }"
          >
            comment
          </mat-icon>
        </button>
        <span class="divider"></span>
      </div>
    </td>
  </ng-container>

   <!-- Expanded Content Column - The detail row is made up of this one column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell
        *matCellDef="let detail"
        class="inner-table"
        colspan="5">
      <table mat-table
             [dataSource]="getDataSourceForExpandedPanel(detail)">

        <ng-container matColumnDef="inner_column_indicator">
          <td mat-cell
              *matCellDef="let inner_column"
              class="drag_indicator">
            <div #anchor
                 class="anchor">
              <mat-icon *ngIf="area === 'source'"
                        class="icon-indicator">
                drag_indicator
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="inner_column_name">
          <td mat-cell
              *matCellDef="let inner_row">
            <div class="required-field">
              <div>{{ inner_row.name }}</div>
              <div *ngIf="!inner_row.isRowNullable"
                   class="red">*</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="inner_column_type">
          <td mat-cell *matCellDef="let inner_row">{{ inner_row.type | prettyName }}</td>
        </ng-container>

        <ng-container matColumnDef="remove_from_group">
          <td mat-cell *matCellDef="let inner_row" class="no-right-padding">
              <mat-icon class="remove-from-group-icon"
                        (click)="removeFromGroup(detail, inner_row)">close</mat-icon>
          </td>
        </ng-container>

        <tr mat-row
            *matRowDef="let inner_row; columns: ['inner_column_indicator', 'inner_column_name', 'inner_column_type', 'remove_from_group']">
        </tr>
      </table>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr
    #htmlElement
    [id]="getRowId(row.name)"
    appDraggable
    [area]="area"
    [table]="table"
    [row]="row"
    [mappingConfig]="mappingConfig"
    mat-row
    [matTooltip]="row.name"
    [matTooltipDisabled]="area !== 'source'"
    *matRowDef="let row; columns: displayedColumns"
    [hidden]="isHidden(row) || isFiltered(row)"
    class="item-{{row.area}}-{{row.tableName}}-{{row.cloneTableName ? row.cloneTableName : ''}}-{{row.cloneConnectedToSourceName ? row.cloneConnectedToSourceName : ''}}-{{row.name}} {{area}}Row draggable"
    [ngClass]="{ rowHasLink: isRowHasConnection(row) }"
    (click)="rowClick($event)"
    (dragstart)="rowClick($event)"
    (addToGroup)='addRowToGroup($event)'
    (reorderRows)='reorderRows($event)'
  ></tr>
  <tr mat-row
  class="inner-table"
  *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
  [attr.colspan]="displayedColumns.length"
  [@detailExpand]="checkExpanded(row)">
</tr>
</table>
